<ion-view class="state-settings">
    <ion-nav-title class="">{{ 'SETTINGS' | translate }}</ion-nav-title>

    <ion-content>
        <form>
            <h3 class="group-title">{{ 'SETTINGS_HELP' | translate }}</h3>

            <div class="list list-inset">
                <!-- FAQ -->
                <a class="item item-button-right" href="https://btc.com/faq" browse-to>
                    <span class="sentence-case">{{ 'SETTINGS_FAQ' | translate }}</span>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </a>
                <!-- Feedback -->
                <div class="item item-button-right" ui-sref=".feedback">
                    <span class="sentence-case">{{ 'SEND_FEEDBACK' | translate }}</span>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </div>

            <h3 class="group-title">{{ 'SETTINGS_ACCOUNT' | translate }}</h3>

            <div class="list list-inset">
                <!-- Profile -->
                <div class="item item-button-right" ui-sref=".profile">
                    <span class="sentence-case">{{ 'SETTINGS_PROFILE' | translate }}</span>
                    <button class="button button-clear">
                        <span class="settings-avatar-holder">
                            <profile-avatar
                                settings-data="settingsData"
                            ></profile-avatar>
                        </span>

                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- Currency -->
                <div class="item item-button-right" ng-click="onSetCurrency()">
                    <span class="sentence-case">{{ 'SETTINGS_CURRENCY' | translate }}</span>
                    <button class="button button-clear">
                        {{ settingsData.localCurrency }}
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- Language -->
                <div class="item item-button-right" ng-click="onSetLanguage()">
                    <span class="sentence-case">{{ 'SETTINGS_LANGUAGE' | translate }}</span>
                    <button class="button button-clear">
                        {{ languageName | translate }}
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </div>

            <h3 class="group-title">{{ 'SETTINGS_PHONE' | translate }}</h3>

            <div class="list list-inset">
                <!-- Phone -->
                <div class="item item-button-right" ui-sref=".phone">
                    <span class="sentence-case">{{ 'SETTINGS_PHONE_NUMBER' | translate }}</span>
                    <button class="button button-clear">
                        <small ng-if="!localSettingsData.phoneHash && !localSettingsData.isPhoneVerified">{{ 'NONE' | translate }}</small>
                        <small ng-if="localSettingsData.phoneHash && !localSettingsData.isPhoneVerified">{{ 'SETTINGS_PHONE_UNVERIFIED' | translate }}</small>
                        <small ng-if="!localSettingsData.phoneHash && localSettingsData.isPhoneVerified">{{ 'SETTINGS_PHONE_VERIFIED' | translate }}</small>
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- Contacts -->
                <div class="item item-button-right" ng-click="onSetContacts()">
                    <span class="sentence-case">{{ 'CONTACTS' | translate }}</span>
                    <button class="button button-clear">
                        <small>Not ready: </small>

                        <small ng-if="localSettingsData.isEnableContacts">{{ 'ENABLE' | translate }}</small>
                        <small ng-if="!localSettingsData.isEnableContacts">{{ 'DISABLE' | translate }}</small>
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </div>
            
            <h3 class="group-title">{{ 'SETTINGS_DISPLAY' | translate }}</h3>

            <div class="list list-inset">

                <div class="item ">
                    <span class="sentence-case">{{ 'SETTINGS_BTC_DECIMALS' | translate }}</span>
                    <br>
                    <div class="range range-positive">
                        <input type="range" name="volume" step="1" min="0" max="8" ng-model="settings.btcPrecision" ng-change="updateSettings()">
                        {{settings.btcPrecision}}
                    </div>
                    <div class="text-center">
                        <small>{{ (walletData.balance != null && walletData.balance + walletData.uncBalance || 0) | satoshiToCoin: walletData.networkType : settings.btcPrecision : false : 'hide' }}</small>
                    </div>
                </div>
                <!-- /btc fraction display -->
            </div>



            <h3 class="group-title">{{ 'SETTINGS_WALLET' | translate }}</h3>
            <div class="list list-inset">
                <div class="item item-button-right">
                    <span class="sentence-case">{{ 'SETTINGS_CURRENT_WALLET' | translate }}</span>
                    <button class="button button-clear">
                        {{ defaultWallet | characters: 17}}
                        <ion-spinner icon="dots" ng-if="!defaultWallet"></ion-spinner>
                        <i class="icon ion-chevron-right" ng-if="false"></i>
                    </button>
                </div>
                <!-- /default wallet -->

                <div class="item item-button-right" ng-click="walletBackup()">
                    <span class="sentence-case">{{ 'SETTINGS_WALLET_BACKUP' | translate }}</span>
                    <label class="phone-status">
                        <span ng-class="{'text-good': settings.backupSaved, 'text-bad': !settings.backupSaved}">
                            {{ settings.backupSaved && ('SETTINGS_BACKUP_COMPLETE' | translate) || ('SETTINGS_BACKUP_INCOMPLETE' | translate) }}
                        </span>
                    </label>

                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- /wallet backup -->

                <div class="item item-button-right" ng-click="changePin()">
                    <span class="sentence-case">{{ 'SETTINGS_CHANGE_PIN' | translate }}</span>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- /PIN -->

                <div class="item item-button-right" ng-click="forgotPin()">
                    <span class="sentence-case">{{ 'SETTINGS_FORGOT_PIN' | translate }}</span>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- /PIN -->

                <div class="item ">
                    <button class="button button-block button-assertive" ng-click="resetWallet()">
                        {{ 'LOGOUT' | translate }}
                    </button>
                </div>
                <!-- /reset wallet -->
            </div>




            <h3 class="group-title">{{ 'SETTINGS_PRIVACY' | translate }}</h3>
            <div class="list list-inset">
                <div class="item item-toggle">
                    <span class="sentence-case">{{ 'SETTINGS_USAGE_DATA' | translate }}</span>
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="settings.permissionUsageData" ng-change="updateSettingsPrivacy()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    <span class="sentence-case">{{ 'SETTINGS_PIN_ON_OPEN' | translate }}</span>
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-model="settings.pinOnOpen" ng-change="updateSettingsPinOnOpen()">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>


            <h3 class="group-title">{{ 'SETTINGS_INFO' | translate }}</h3>
            <div class="list list-inset">
                <div class="item item-button-right" ui-sref=".about">
                    <span class="sentence-case">{{ 'SETTINGS_ABOUT' | translate }}</span>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
                <!-- about -->

                <div class="item" on-hold="enableDev()" ng-click="tapEnableDev()">
                    <span class="sentence-case">{{ 'SETTINGS_VERSION' | translate }}: </span>
                    <small class="pull-right">{{ appVersion }}</small>
                </div>
                <!-- version -->
            </div>


            <div ng-if="devEnabled">
                <h3 class="group-title">{{ 'SETTINGS_DEVELOPMENT' | translate }}</h3>
                <div class="list list-inset">

                    <div class="item item-button-right" ng-click="apprate()">
                        <span class="sentence-case">Apprate</span>
                        <button class="button button-clear">
                            <i class="icon ion-chevron-right"></i>
                        </button>
                    </div>
                    <!-- /PIN -->

                    <div class="item item-toggle">
                        <span class="sentence-case">Contacts web syncing</span>
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="settings.contactsWebSync" ng-change="updateSettings()">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <!-- /contact syncing to web -->

                    <div class="item item-toggle">
                        <span class="sentence-case">Ignore phone verification</span>
                        <label class="toggle toggle-balanced">
                            <input type="checkbox" ng-model="settings.phoneVerified">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <!-- /ignore phone verification -->

                    <div class="item">
                        Build: <small class="pull-right" on-hold="resetApp($event)">{{ CONFIG.VERSION }}</small>
                    </div>
                </div>
            </div>

        </form>
    </ion-content>
</ion-view>
