
.state-buybtc {
    background: $lightgray-dark;

    .scroll-content {
        z-index: 50;

        .group-title {
            margin: 20px 10px 10px 14px;
            padding: 0;
            font-size: 1.2rem;
            font-weight: lighter;
            color: $darkgray-light;
        }
        .list-inset {
            margin: 0 10px 35px 10px;
            box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.05);
        }

        .placeholder-label {
            font-size: 18px;
            color: #ABAEB2;
        }

        @import "_amount-input";
    }

    .buy-rate-percoin {
        display: block;
        position: absolute;
        top: 50px;
        height: 50px;
        z-index: 90;
        width: 100%;
        padding-left: 40px;
        line-height: 50px;
        color: $bluejeans-light;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .buy-btc-via-vendor {
        padding:0px 40px;
        text-align: center;
        font-size: 0.8rem;
        color: #999;
    }

    .logo-glidera {
        width: auto;
        height: 25px;
        max-height: 25px;
        margin: -8px 0px -7px 0px;
    }

    .logo-simplex {
        width: auto;
        height: 28px;
        max-height: 28px;
        margin: -8px 0px -9px 0px;
    }

    .buy-tos {
        padding: 0px !important;
        a {
            font-size: 10px;
        }

        label {
            line-height: unset;
            font-size: 12px;
            padding: 3px;
            margin-top: 15px;
        }
    }
}
