.state-feedback {
    background: $lightgray-dark;
    .scroll-content {

        .msg {
            &.item-input {
                -webkit-align-items: baseline;
                -moz-align-items: baseline;
                align-items: baseline;

                padding-left: 0px;
            }
            i {
                margin-top: -6px;
                font-size: 20px;
            }
        }
        .email {
            i {
                margin-top: 3px;
                font-size: 20px;
            }
        }

        .send-button-group {
            padding: $card-padding;

            .button {
                @include squareButton($darkgray-light);
                border-width: 1px;
            }
        }
    }
}
