.photo-crop-screen {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    padding-top: $bar-height;
    margin-top: -1px;
    background: #000;
    z-index: 101;
    transition: top 1s cubic-bezier(.13, .87, .42, .96);
    -webkit-transition: top 1s cubic-bezier(.13, .87, .42, .96);
    text-align: center;

    &.displayed {
        top: 0 !important;
        transition: top 0.8s cubic-bezier(.4, .1, .11, .98);
        -webkit-transition: top 0.8s cubic-bezier(.4, .1, .11, .98);
    }

    .confirm-button {
        @include squareButton(#666, rgba(255, 255, 255, 0.5));
        transition: none;
        -webkit-transition: none;
        min-width: 8rem;

        position: absolute;
        bottom: 1.5rem;
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    img-crop {
        height: 100%;
        width: 100%;
        background: #000;
        box-shadow: $app-default-shadow;

        canvas {
            //@TODO gotta work on this...issues with landscape images, and the touch detection on iOS also seems to suffer
            //height: 100%;
            //width: auto;
        }
    }
    .loading {
        color: #fff;
        position: absolute;
        top: 45%;
        width: 100%;

        h3 {
            color: #fff;
        }
        .spinner svg {
            color: #fff;
            width: 60px;
            height: 60px;
        }
    }
}
