.popover.popover-simple-popover {
    background-color: $app-default-color !important;
    color: white;
    padding-top: 1rem;

    p {
        padding: 0rem 2rem 1rem 2rem;
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    h3 {
        color: inherit;
        padding: 2rem 2rem 1rem 2rem;
        text-align: center;
    }

    .popover-footer {
        padding: 0rem 2rem 1rem 2rem;
        text-align: center;

        .button {
            margin-top: 1rem;
            min-width: 6rem;
            color: #fff;
            color: rgba(0, 0, 0, 0.5);
            border-color: #fff;
            background-color: rgba(255, 255, 255, 0.4);

            &.primary {
                background-color: $good-green;
            }
        }
    }
}

.platform-cordova .popover-backdrop.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.platform-cordova .full-popover.popover {
    margin-top: 0px;
}

.popover.full-popover {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.platform-cordova .large-popover.popover {

}

.popover.active {
    opacity: 1;
}

.popover.small-popover {
    .popover-arrow {
        display: none;
    }

    left: 10%;
    width: 80%;
    top: 25%;
    height: 45%;
    margin: 0px;

    &.popover-slide-in {
        @include slideIn(.8s, 25%);
    }
}

.popover.medium-popover {
    .popover-arrow {
        display: none;
    }

    left: 10%;
    width: 80%;
    top: 20%;
    height: 60%;
    margin: 0px;

    &.half-size {
        height: 40%;
        top: 30%;

        &.popover-slide-in {
            @include slideIn(.8s, 30%);
        }
    }

    &.popover-slide-in {
        @include slideIn(.8s, 10%);
    }
}

.popover.large-popover {
    .popover-arrow {
        display: none;
    }
    
    left: 10%;
    width: 80%;
    top: 10%;
    height: 80%;
    margin: 0px;

    &.half-size {
        height: 40%;
        top: 30%;

        &.popover-slide-in {
            @include slideIn(.8s, 30%);
        }
    }

    &.popover-slide-in {
        @include slideIn(.8s, 10%);
    }
}
