
//--- Startup screen and launch ---

.state-login {
    background: $lightgray-dark;
    .signup-type-select {
        &, select {
            background: #EBECEF;
        }
    }

    .currency-select {
        .input-label {
            font-size: 90%;
        }

        select {
            font-size: 110%;
            width: 60%;
            direction: ltr;
        }
    }

    .item-input {
    }
    .input-label {
        width: 100%;
        max-width: 100%;
        padding-right: $content-padding;
    }
    .input-username {
        .username-check {
            position: absolute;
            right: $content-padding;
        }
        .icon {
            font-size: 26px;
        }
    }
    .input-password {
        .password-check {
            position: absolute;
            right: $content-padding;
        }
        .icon {
            font-size: 26px;
        }
    }

    .password-checker {
        font-size: 0.7em;

        &.password-checker-score-0,
        &.password-checker-score-1 {
            color: $bad-red;
        }
        &.password-checker-score-2 {
            color: $sunflower-dark;
        }
        &.password-checker-score-3,
        &.password-checker-score-4 {
            color: $good-green;
        }
    }
}
.state-setup {
    .message-display {
        //z-index: 8;
    }
    .skip-step {
        padding: 15px;
    }
    &.state-pin {
        background: $lightgray-dark;
    }
    &.state-backup {
        background: $lightgray-dark;

        .scroll-content {
            background: $lightgray-dark;
        }

        .info-section {
            padding-top: 150px;
            background-color: #fff;
            margin-top: -150px;
            box-shadow: $app-default-shadow;

            .item {
                background: #fff;
            }
        }
        .item-body {
            h2 {
                margin-bottom: 5px;
            }
            p {
                margin-top: 5px;
            }
        }
    }
    &.state-phone {
        background: $lightgray-dark;
    }
    &.state-contacts {
        background: $lightgray-dark;

        ion-spinner {
            position: absolute;
            left: 0;
            right: 0;
        }

        .spinner svg {
            margin-top: 16px;
            width: 40px;
            height: 40px;
            //stroke: #f8f8f8;
            //fill: #f8f8f8;
        }
    }
    &.state-profile {
        background: $lightgray-dark;

        .scroll-content {
            background: $lightgray-dark;
        }
        .profile-image {
            float: none !important;
            width: 150px !important;
            height: 150px !important;
            margin: 0 !important;
            
            .initials {
                font-size: 170px;
                color: $lightgray-dark;
            }
        }
    }
    &.state-complete {
        background: $lightgray-dark;
    }
}

