
//--- side menu ---
$sidemenu-header-bg:        #a5a5a5 !default;
$sidemenu-body-bg:          $menu-bg;
$sidemenu-avatar-size:      70px !default;
$sidemenu-font-color:       #465a5a !default;
$sidemenu-option-spacing:   34px !default;
$sidemenu-option-fontsize:  22px !default;
$sidemenu-header-height:    110px !default;
.menu.menu-left {
    background: $sidemenu-body-bg;

    .header-bar {
        position: relative;
        height: $sidemenu-header-height;
        font-weight: 300;
        color: #fff;
        background: $sidemenu-header-bg;
        padding: 25px 5px 10px 5px;
        z-index: 20;

        .display-token {
            position: relative;
            display: inline-block;
            width: $sidemenu-avatar-size;
            height: $sidemenu-avatar-size;
            border-radius: $sidemenu-avatar-size;
            overflow: hidden;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.13);

            &.contact-token {
                background-color: #bcbcbc;
                color: #fff;
                text-align: center;
                font-size: $sidemenu-avatar-size/2;
                line-height: $sidemenu-avatar-size;
                text-transform: uppercase;
                font-weight: 200;

                .avatar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-position: 50% 50%;
                    background-size: cover;
                }
                .initials {
                    font-size: $sidemenu-avatar-size;
                    line-height: auto;
                    color: $lightgray-dark;
                }
            }
        }

        .display-name {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: normal;
            text-transform: capitalize;
            padding: 10px 5px 0 15px;
            font-size: 24px;
            min-height: 35px;

        }
        .email {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: normal;
            padding: 3px 5px 0 15px;
            font-size: 16px;
            color: $darkgray-dark;
        }
    }
    //.header-bar

    .scroll-content {
        top: $sidemenu-header-height;
    }

    .options-list {
        color: $sidemenu-font-color;
        font-weight: 200;

        .item {
            border: none;
            background: none;

            &:first-of-type .item-content {
                padding-top: $sidemenu-option-spacing;
            }
        }

        .item-content {
            padding: $sidemenu-option-spacing/2 25px;
            font-size: $sidemenu-option-fontsize;
            background: none;

            &.activated {
                color: lighten($sidemenu-body-bg, 40%);
                background: darken($sidemenu-body-bg, 40%);
            }
        }

        .icon {
            margin-right: 16px;
            font-size: 160%;
            vertical-align: middle;

            &.icon-blocktrail-wallet:before {
                margin-left: -5px;
            }
            &.icon-blocktrail-wallet {
                margin-right: 4px;
            }
        }

        .item-divider {
            background: none;
            hr {
                opacity: 0.35;
                box-shadow: 0 0 9px rgba(0, 0, 0, 0.15);
            }
        }
    }
    //.options-list

    .version {
        opacity: 0.4;
        position: absolute;
        bottom: 0;
        padding: 0.2rem 1rem;
    }
}
