
$balance-display-height:    38vw !default;
$display-token-size:        50px !default;


//--- Wallet summary screen ---
.state-wallet.state-summary {
    .user-balance-display {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transform: translate(0, $bar-height);
        -webkit-transform: translate(0, $bar-height);
        width: auto;
        z-index: 100;

        .row {
            padding: 0;
        }

        .display-token {
            width: 30vw;
            height: 30vw;
            .initials {
                font-size: 7rem;
                //line-height: 32vw;
                color: $lightgray-dark;
            }
        }
        .balance-label {
            opacity: 0.8;
        }
        .btc-display .canvas-display {
            width: 100% !important;
        }
        .fiat-display .canvas-display {
            position: relative;
            left: 5px;
            max-width: 50% !important;
        }

        /*---transitions---*/
        /*
        //initial settings
        height: 31vw;
        .user-avatar-col {
            @include flex(0 0 29%);
            //@include transition(flex 0.5s ease-in-out);
        }
        &.maximise .user-avatar-col {
            @include flex(0 0 33.3333%);
            //@include transition(flex 0.5s ease-in-out 0.2s);
        }
        &.maximise {
            height: $balance-display-height;
            padding: $bar-padding-portrait/2 $bar-padding-portrait;
            //@include transition(all 0.5s ease-in-out);
        }
        */
    }

    .scroll-content {
        padding-top: $balance-display-height;

        //--- wallet transaction list ---
        $divider-height: 35px;

        .item {
            border: none;
            .row {
                position: relative;
            }
            .item-content {
                display: block;
                height: 65px;
                padding: 5px $bar-padding-portrait 5px ($display-token-size + $bar-padding-portrait*2);
            }
            .display-token {
                position: absolute;
                top: 7px;
                left: -$display-token-size - $bar-padding-portrait;
            }
            .transaction-info {
                position: relative;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                //padding-top: 4px;
                color: $darkgray-light;
                font-size: 1em;
                line-height: 55px;
                font-weight: 300;
                //text-align: right;

                .tx-type {
                    max-width: 100%;
                    display: inline-block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1em;
                    vertical-align: middle;
                }
                .tx-time {
                    font-size: 0.8em;
                    opacity: 0.7;
                }

            }
            .btc-value {
                text-align: right;
                font-size: 1.2em;

                line-height: 28px;
                margin-bottom: 20px;
                .canvas-display {
                    vertical-align: middle;
                }
                .disp {
                    font-size: 65%;
                    //font-weight: bold;
                    color: #888;
                    vertical-align: super;
                }

                &.received {
                    color: $good-green;
                }
                &.sent {
                    color: $bad-red;
                }
            }
            .pending {
                position: absolute;
                top: -12px;
                left: -67px;
                font-size: 22px;

                i {
                    color: #fff;
                    background-color: $app-default-color;
                    padding: 1px 3px 0 3px;
                    border-radius: 100%;
                }
            }
        }
        .item-divider {
            padding: 0;
            background: #fff;

            .date-group {
                display: block;
                width: 100%;
                background: #f2f2f2;
                padding: 0 0 0 15px;
                height: $divider-height;
                line-height: $divider-height;
                font-size: 16px;
                color: #828180;
            }
        }
        .collection-repeat-after-container .sentence-case {
            width: 100%;
        }
    }

    .transaction-info-section {
        .inner-content {
            padding: 1rem 1rem 3.75rem 1rem;
            top: 18% !important;
            background: rgba(#fff, 0.9);
            width: 80%;
            height: initial;
            min-height: 74%;
            color: $darkgray-dark;
            box-shadow: $app-default-shadow;
            border-radius: 0.5rem;
        }

        .scroll-content {
            padding: 0 1rem;
            margin: 3.75rem 0 5rem 0;

            &:after {
                content: "";
                display:block;
                position: absolute;
                width: 100%;
                height: 5rem;
                bottom: -5rem;
                left: 0;
                right: 0;
                background-color: #fff;
                box-shadow: 0 -1rem 1.5rem rgba(255, 255, 255, 0.8);
            }
            .contact {
                padding-bottom: 1rem;
            }
        }

        .title {
            padding: 0.0rem 0 0 0;
            color: $darkgray-dark;
            &.received {
                color: $good-green;
            }
            &.sent {
                color: $bad-red;
            }
        }

        .tx-hash {
            font-size: 0.8rem;
            line-height: 0.85rem;
            margin-top: -0.5rem;
            color: $darkgray-light;
        }
        .amount {
            margin: 0.5rem 0 1.25rem 0;

            canvas {
                max-width: 100%;
                height: auto;
            }
            &.received .bitcoins {
                color: $good-green;
            }
            &.sent .bitcoins {
                color: $bad-red;
            }

            .bitcoin {
                font-size: 28px;
                line-height: 40px;

            }
            .fiat {
                font-size: 19px;
                .label {
                    font-size: 70%;
                    opacity: 0.7;
                }
            }
        }
        .fee {
            .fiat {
                margin-left: 1rem;
            }
        }
        .fee, .date, .confirmations, .contact, .message, .more-info {
            margin-top: 0.75rem;
            border-top: 1px solid rgba(178, 178, 178, 0.48);
            padding-top: 0.5rem;

            .value {
                font-size: 1rem;
                line-height: 1.2rem;
                color: $darkgray-light;
                //font-weight: 200;
            }
            .label {
                font-weight: bolder;
                color: $darkgray-dark;
            }
        }
        .message {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgba(178, 178, 178, 0.48);
        }

        .button.dismiss {
            position: absolute;
            bottom: 0;
            margin: 0 auto 1.25rem auto;
            left: 0;
            right: 0;
            width: 6.5rem;
        }
    }
}
.platform-ios {
    .state-wallet .user-balance-display {
        transform: translate(0, $bar-height + $ios-statusbar-height);
        -webkit-transform: translate(0, $bar-height + $ios-statusbar-height);
    }
}
//--- /wallet summary ---
