.action-buttons {
    .button {
        color: #777;
        border: 1px solid #ececec;
        margin: 0;
    }

    .action-button-icon {
        font-size: 32px;
        vertical-align: middle;
    }
}