$item-modal-content-height: 280px;
$item-modal-prompt-content-height: $item-modal-content-height - 68px;


.modal-backdrop-bg {
    background-color: rgba(0, 0, 0, 0.35);
}

.modal {
    .card-modal {
        margin: 0 auto;

        &.card-sm {
            max-width: 400px;
        }
    }

    .item-modal-content,
    .item-modal-prompt-content {
        position: relative;
        max-height: $item-modal-content-height;
        overflow-y: auto;
    }

    .item-no-bottom-indent {
        padding-bottom: 0;
    }

    .item-modal-prompt-content {
        max-height: $item-modal-prompt-content-height;
    }

    .item {
        input {
            width: 100%;
        }
    }

    &.dialog-message {
        text-align: center;
        background: transparent;
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        overflow: hidden;
        width: 90%;
        height: 90%;
        min-height: 90%;
        max-height: 90%;
    }

    &.dialog-spinner {
        opacity: .8;
    }
}
