.va {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;

    .va-holder {
        display: table-cell;
        vertical-align: middle;
    }

    .va-content {
        position: relative;
    }
}



