<ion-view class="state-settings state-phone">
    <ion-nav-title class="">{{ 'SETTINGS_PHONE_NUMBER' | translate }}</ion-nav-title>
    <ion-nav-buttons side="right">
        <div class="button hide"
            nav-direction="back" 
            ng-class="{'hide': !isIOS || !appControl.showCountrySelect}" 
            ng-click="$btBackButtonDelegate.goBack()">{{ 'CANCEL' | translate }}
        </div>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <button ng-click="$btBackButtonDelegate.goBack($event)"
                class="button button-clear icon bt-back-button {{ !$btBackButtonDelegate.isDisplayed && 'hide' || '' }}"
                ng-class="{'ion-ios-arrow-back': isIOS, 'ion-android-arrow-back': isAndroid}">
        </button>
    </ion-nav-buttons>


    <ion-content ng-class="{'blur-me': appControl.showMessage}">
        <div class="list card">
            <div class="item item-body">
                <p>{{ 'SETTINGS_PHONE_DESCRIPTION' | translate }}</p>
                <label class="current-phone">{{ 'SETTINGS_PHONE' | translate }}: {{ settings.phoneNumber && settings.phoneNumber || ('NONE' | translate) }}</label>
                <label class="status pull-right" ng-if="settings.phoneNumber">{{ 'STATUS' | translate }}: <span ng-if="settings.phoneNumber">{{ settings.phoneVerified && ('SETTINGS_PHONE_VERIFIED' | translate) || ('SETTINGS_PHONE_UNVERIFIED' | translate) }}</span></label>

            </div>
            <div class="item item-no-border-b" ng-if="appControl.showPhoneInput">
                <div class="row country-code">
                    <div class="col">
                        <p ng-if="formInput.selectedCountry">{{ formInput.selectedCountry.name | shortenCountryName }} (+{{ formInput.selectedCountry.dialCode }})</p>
                    </div>
                    <div class="col">
                        <div class="button button-small pull-right" ng-click="showCountrySelect()">{{ 'SETTINGS_PHONE_CHANGE_COUNTRY' | translate }}</div>
                    </div>
                </div>
                <label class="item item-input msg">
                    <i class="icon ion-ios-telephone placeholder-icon"></i>
                    <input type="tel" ng-model="formInput.newPhoneNumber" ng-tab="updatePhone(); blurInput($event)" ng-enter="updatePhone(); blurInput($event)" placeholder="{{ 'SETTINGS_PHONE_PLACEHOLDER' | translate}}">
                </label>
            </div>
            <!-- /phone input -->

            <div class="item item-borderless padding-t" ng-if="appControl.showPhoneInput">
                <button ng-hide="settings.phoneNumber && !formInput.newPhoneNumber" class="button button-block button-positive" ng-click="updatePhone()">
                    {{ 'SETTINGS_PHONE_UPDATE' | translate }}
                </button>
                <button ng-if="settings.phoneNumber && !formInput.newPhoneNumber" class="button button-block button-assertive" ng-click="removePhone()">
                    {{ 'SETTINGS_PHONE_REMOVE' | translate }}
                </button>
            </div>
            <!-- /phone update/remove buttons -->

        </div>

        <div class="list card" ng-if="settings.phoneNumber && !settings.phoneVerified">
            <div class="item item-body">
                <p>{{ 'MSG_PHONE_CODE_SENT' | translate }}</p>
                <label class="item item-input verify-token">
                    <i class="icon ion-android-checkbox-outline placeholder-icon"></i>
                    <input type="tel" ng-model="formInput.verifyToken" placeholder="{{ 'SETTINGS_TOKEN_PLACEHOLDER' | translate}}" ng-tab="verifyPhone(); blurInput($event)" ng-enter="verifyPhone(); blurInput($event)">
                </label>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-if="!appControl.showPhoneInput" ng-click="appControl.showPhoneInput = true">
                    <i class="icon ion-close"></i>
                    {{ 'SETTINGS_PHONE_CHANGE' | translate }}
                </a>
                <a class="tab-item" ng-if="appControl.showPhoneInput"></a>
                <a class="tab-item" ng-click="verifyPhone()">
                    <i class="icon ion-checkmark"></i>
                    {{ 'CONFIRM' | translate }}
                </a>
            </div>
        </div>
        <!-- /verification code input-->
    </ion-content>




    <div class="message-display country-select-screen" ng-class="{displayed: appControl.showCountrySelect}">
        <div class="filter-input item-input item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="{{ 'SEARCH' | translate }}" ng-model="countriesFilter" ng-enter="blurInput($event)" tabindex="-1">
            </label>
            <a class="button-clear clear-input" ng-show="countriesFilter" ng-click="countriesFilter = ''"><i class="ion ion-backspace"></i></a>
        </div>
        <ion-content>
            <ion-list>
                <label class="item item-radio" collection-repeat="country in allCountries | filter:countriesFilter">
                    <input type="radio" name="group" ng-model="formInput.selectedCountry" ng-value="country" ng-change="dismissCountrySelect()" tabindex="-1">
                    <div class="item-content">
                        {{ country.name }} (+{{ country.dialCode }})
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </ion-list>
        </ion-content>
    </div>
    <!-- /country select -->

    <div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="dismissMessage()">
        <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
        <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
        <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
        <a class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working" tabindex="-1">{{ 'OK' | translate }}</a>
    </div>
    <!-- /message screen -->
</ion-view>
