<ion-view class="state-settings">
    <ion-nav-title class="">{{ 'SETTINGS_CURRENCY' | translate }}</ion-nav-title>
    <ion-content>
        <div class="list">
            <label class="item item-radio" ng-repeat="currency in currencies">
                <input type="radio" name="group" ng-model="settings.localCurrency" value="{{ currency.code }}" ng-change="updateSettings()">
                <div class="item-content">
                    {{currency.code}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>
