<ion-view class="state-settings state-about">
    <ion-nav-title class="capitalise">{{ 'SETTINGS_ABOUT' | translate }}</ion-nav-title>

    <ion-content>
        <div class="list card">
            <div class="item item-divider text-center">
                <h1 class="text-neutral no-padding no-margin">{{ 'ABOUT_TITLE' | translate }}</h1>
                <h2 class="text-neutral padding-b">{{ 'ABOUT_SUBTITLE' | translate }}</h2>
                <small class="text-neutral opacity-50">version {{ appVersion }}</small>
            </div>
            <div class="item item-body">
                <div class="text-center padding-b"></div>

                <p class="text-center">
                    {{ 'ABOUT_DESCRIPTION' | translate }}
                </p>

                <div class="row padding-b">
                    <div class="col col-33 capitalise">Twitter:</div>
                    <div class="col">
                        <small><a href="https://twitter.com/btccom_official" browse-to>@btccom_official</a></small>
                    </div>
                </div>
                <div class="row padding-b">
                    <div class="col col-33 capitalise">
                        Facebook:
                    </div>
                    <div class="col">
                        <small><a href="https://www.facebook.com/BTCcom" browse-to>BTCcom</a></small>
                    </div>
                </div>
                <div class="row padding-b">
                    <div class="col col-33 capitalise">
                        Website:
                    </div>
                    <div class="col">
                        <small><a href="https://btc.com" browse-to>btc.com</a></small>
                    </div>
                </div>
                <div class="row padding-b">
                    <div class="col col-33 capitalise">
                        {{ 'ABOUT_LABEL_NEWS' | translate }}:
                    </div>
                    <div class="col">
                        <small><a href="https://blog.btc.com" browse-to>blog.btc.com</a></small>
                    </div>
                </div>
            </div>
            <div class="item text-center">
                <small class="padding-t">{{ 'ABOUT_LABEL_RATEAPP' | translate }}</small>
                <button class="button button-block button-energized" ng-click="rateApp()">{{ 'ABOUT_RATEAPP' | translate }}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
