<ion-view class="state-settings">
    <ion-nav-title class="capitalise">{{ 'SETTINGS_LANGUAGE' | translate }}</ion-nav-title>
    <ion-content>
        <div class="list">
            <label class="item item-radio" ng-repeat="language in languages">
                <input type="radio" name="group" ng-model="settings.language" value="{{ language.code }}" ng-change="updateSettings()">
                <div class="item-content capitalise">
                    {{ language.name | translate }}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>
