<ion-view class="state-settings state-about">
    <ion-nav-title class="capitalise">{{ 'SETTINGS_ABOUT' | translate }}</ion-nav-title>

    <ion-content>
        <div class="list card">
            <div class="item item-divider text-center">
                <h1 class="text-neutral no-padding no-margin">Wallet</h1>
                <h2 class="text-neutral padding-b">by Blocktrail</h2>
                <small class="text-neutral opacity-50">version {{ appVersion }}</small>
            </div>
            <div class="item item-body">
                <div class="text-center padding-b"></div>

                <p class="text-center">
                    Blocktrail is an Amsterdam based Bitcoin tech startup.
                </p>

                <div class="row padding-b">
                    <div class="col col-33">Twitter:</div>
                    <div class="col">
                        <a href="https://twitter.com/blocktrail" browse-to>@blocktrail</a>
                    </div>
                </div>
                <div class="row padding-b">
                    <div class="col col-33">
                        Facebook:
                    </div>
                    <div class="col">
                        <a href="https://www.facebook.com/blocktrail" browse-to>facebook.com/blocktrail</a>
                    </div>
                </div>
                <div class="row padding-b">
                    <div class="col col-33">
                        Website:
                    </div>
                    <div class="col">
                        <a href="https://blocktrail.com" browse-to>blocktrail.com</a>
                    </div>
                </div>
                <div class="row padding-b">
                    <div class="col col-33">
                        News and Info:
                    </div>
                    <div class="col">
                        <a href="https://blog.blocktrail.com/" browse-to>blog.blocktrail.com</a>
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                <small class="pull-left padding-t">Do you like the app?</small>
                <button class="button button-small pull-right" ng-click="rateApp()">Please Rate Wallet!</button>
            </div>
        </div>
    </ion-content>
</ion-view>
