
//--- settings screens ---

// TODO Review
.state-settings {
    background: $lightgray-dark;

    .scroll-content {
        background: $lightgray-dark;

        .group-title {
            margin: 20px 10px 10px 14px;
            padding: 0;
            font-size: 16px;
            font-weight: lighter;
            color: $darkgray-light;
        }

        .list-inset {
            margin: 0 10px 35px 10px;
            box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.05);
        }

        .display-name {
            margin: 0 15px;
        }

        .settings-avatar-holder {
            top: -3px;
            bottom: -4px;
            width: 40px;
            height: 40px;
            position: relative;

            .profile-avatar {
                display: block;
                width: 40px;
                height: 40px;

                .initials {
                    font-size: 28px;
                    line-height: 40px;
                }
            }
        }
    }

    .button .icon {
        margin-left: 1rem;
    }

    .action-sheet {
        .button {
            display: inline-block;
            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}
//platform specifics
.platform-ios {
    .state-settings {
        .photo-crop-screen {
            padding-top: $bar-height + $ios-statusbar-height;
        }
    }
    .state-phone {
        .country-select-screen {
            //padding-top: $bar-height + $ios-statusbar-height;

            .filter-input {
                margin-top: $ios-statusbar-height;
            }
        }
    }
}
