$balance-display-height:    38vw !default;
$display-token-size:        50px !default;
$divider-height: 35px;
$wallet-info-height: 90px;

.state-summary {
    .scroll-content {
        top: $wallet-info-height + 65px;
    }

    .transaction-loading {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding-top: 47%;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 10;
        opacity: 0.3;
    }

    .wallet-info {
        height: $wallet-info-height;
        background: $app-default-color;

        .wallet-info-avatar {
            float: left;
            width: 60px;
            height: 60px;

            .display-token {
                width: 60px;
                height: 60px;
                text-align: center;
            }

            i {
                &.icon {
                    width: 60px;
                    height: 60px;
                    font-size: 74px;
                    color: #999;
                }
            }
        }

        .wallet-info-description {
            margin: 0 0 0 80px;

            h1, p {
                color: #f2f2f2;
                text-align: right;
                margin: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            h1 {
                font-size: 30px;
                line-height: 36px;

                span {
                    font-size: 16px;
                    position: relative;
                    top: -10px;
                    padding: 0 0 0 4px;
                }
            }

            p {
                font-size: 14px;
                line-height: 16px;
            }

        }
    }

    .transaction-spinner {
        position: absolute;
        top: $wallet-info-height - 46px;
        width: 100%;
        text-align: center;
    }

    .transactions-list {
        .item-transaction {
            padding-right: 126px;

            &.middle-value {
                padding-right: 110px;
            }

            &.short-value {
                padding-right: 90px;
            }

            .item-image {
                i {
                    display: block;
                    font-size: 28px;
                    line-height: 40px;
                }
            }

            h2 {
                font-weight: 300;
                color: $darkgray-dark;
            }
        }

        .timestamp {
            color: $darkgray-light;
        }

        .pending {
            position: absolute;
            top: 14px;
            left: 46px;
            font-size: 16px;
            color: $darkgray-light;
            z-index: 100;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            overflow: hidden;
            text-align: center;

            i {
                vertical-align: top;
                height: 16px;
                width: 16px;
                font-size: 16px;
                overflow: hidden;
                background: #fff;
            }
        }

        .value {
            position: absolute;
            top: 26px;
            right: 8px;
            font-size: 16px;

            .disp {
                position: relative;
                top: -4px;
                font-size: 10px;
                padding: 0 0 0 4px;
            }

            &.received {
                color: $bt-green;
                .disp {
                    color: $darkgray-light;
                }
            }
            &.sent {
                color: $bad-red;
                .disp {
                    color: $darkgray-light;
                }
            }
        }

        .item-divider {
            padding: 0;
            background: #fff;

            .date-group {
                display: block;
                background: #f2f2f2;
                padding: 0 0 0 15px;
                height: $divider-height;
                line-height: $divider-height;
                font-size: 16px;
                color: #828180;
            }
        }

        .collection-repeat-after-container .sentence-case {
            width: 100%;
        }
    }

    .transaction-info-section {
        .inner-content {
            padding: 1rem 1rem 3.75rem 1rem;
            top: 18% !important;
            background: rgba(#fff, 0.9);
            width: 80%;
            height: initial;
            min-height: 74%;
            color: $darkgray-dark;
            box-shadow: $app-default-shadow;
            border-radius: 0.5rem;
        }

        .scroll-content {
            padding: 0 1rem;
            margin: 3.75rem 0 5rem 0;

            &:after {
                content: "";
                display:block;
                position: absolute;
                width: 100%;
                height: 5rem;
                bottom: -5rem;
                left: 0;
                right: 0;
                background-color: #fff;
                box-shadow: 0 -1rem 1.5rem rgba(255, 255, 255, 0.8);
            }
            .contact {
                padding-bottom: 1rem;
            }
        }

        .title {
            padding: 0.0rem 0 0 0;
            color: $darkgray-dark;
            &.received {
                color: $good-green;
            }
            &.sent {
                color: $bad-red;
            }
        }

        .tx-hash {
            font-size: 0.8rem;
            line-height: 0.85rem;
            margin-top: -0.5rem;
            color: $darkgray-light;
        }
        .amount {
            margin: 0.5rem 0 1.25rem 0;

            canvas {
                max-width: 100%;
                height: auto;
            }
            &.received .bitcoins {
                color: $good-green;
            }
            &.sent .bitcoins {
                color: $bad-red;
            }

            .bitcoin {
                font-size: 28px;
                line-height: 40px;

            }
            .fiat {
                font-size: 19px;
                .label {
                    font-size: 70%;
                    opacity: 0.7;
                }
            }
        }
        .fee {
            .fiat {
                margin-left: 1rem;
            }
        }
        .fee, .buybtc, .date, .confirmations, .contact, .message, .more-info {
            margin-top: 0.75rem;
            border-top: 1px solid rgba(178, 178, 178, 0.48);
            padding-top: 0.5rem;

            .value {
                font-size: 1rem;
                line-height: 1.2rem;
                color: $darkgray-light;
                //font-weight: 200;
            }
            .label {
                font-weight: bolder;
                color: $darkgray-dark;
            }
        }
        .message {
            padding-bottom: 0.5rem;
            border-bottom: 1px solid rgba(178, 178, 178, 0.48);
        }

        .button.dismiss {
            position: absolute;
            bottom: 0;
            margin: 0 auto 1.25rem auto;
            left: 0;
            right: 0;
            width: 6.5rem;
        }
    }
}