node_modules/
appconfig.json
.appconfig.json
www/fontello

platforms/android/assets/www/*
platforms/ios/www/*
platforms/ios/cordova/console.log
platforms/android/CordovaLib/build

platforms/android/.gradle/2.2.1/taskArtifacts/*

platforms/ios/BlockTrail Wallet.xcodeproj/project.xcworkspace/xcuserdata/*
platforms/ios/BlockTrail Wallet.xcodeproj/xcuserdata/*
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/*