<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blocktrail.mywallet" version="4.4.7" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BTC Wallet</name>
    <description>
        Your personal Bitcoin wallet, powered by BTC.com
    </description>
    <author email="support@btc.com" href="https://www.btc.com/">
    BTC.com Team
    </author>
    <content src="index.html" />
    <access origin="https://wallet-api.btc.com" />
    <access origin="https://api.blocktrail.com" />
    <access origin="https://sandbox.glidera.io" />
    <access origin="https://www.glidera.io" />
    <access origin="https://chain.api.btc.com" />
    <access origin="https://bch-chain.api.btc.com" />
    <access origin="https://sentry.io" />
    <access origin="https://bitpay.com" />
    <allow-navigation href="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="KeyboardResize" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <platform name="android">
        <preference name="SplashScreenDelay" value="10000" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="android-minSdkVersion" value="17" />
        <preference name="android-targetSdkVersion" value="26" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    </platform>
    <platform name="ios">
        <preference name="target-device" value="handset" />
        <preference name="AutoHideSplashScreen" value="false" />
        <preference name="ShowSplashScreenSpinner" value="false" />
        <preference name="iosPersistentFileLocation" value="Compatibility" />
        <preference name="StatusBarBackgroundColor" value="#3C78C2" />
        <preference name="StatusBarStyle" value="blacktranslucent" />
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>Need camera access to scan QR codes</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>Need photo library access to select profile picture</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryAddUsageDescription">
            <string>Need photo library access to write profile picture, if camera is used</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSContactsUsageDescription">
            <string>Need contact access to display available contacts which are also using the wallet</string>
        </edit-config>
    </platform>
    <platform name="browser">
        <preference name="SplashScreen" value="resources/android/splash/drawable-port-xhdpi-screen.png" />
        <preference name="SplashScreenDelay" value="10000" />
        <preference name="SplashScreenBackgroundColor" value="green" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="SplashScreenWidth" value="600" />
        <preference name="SplashScreenHeight" value="300" />
    </platform>
    <platform name="android">
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <splash density="port-hdpi" src="resources/android/splash/drawable-port-hdpi-screen.9.png" />
        <splash density="port-xhdpi" src="resources/android/splash/drawable-port-xhdpi-screen.9.png" />
        <splash density="port-xxhdpi" src="resources/android/splash/drawable-port-xxhdpi-screen.9.png" />
        <splash density="port-xxxhdpi" src="resources/android/splash/drawable-port-xxxhdpi-screen.9.png" />
    </platform>
    <platform name="ios">
        <icon height="57" src="resources/ios/icon/icon.png" width="57" />
        <icon height="114" src="resources/ios/icon/icon@2x.png" width="114" />
        <icon height="40" src="resources/ios/icon/icon-40.png" width="40" />
        <icon height="80" src="resources/ios/icon/icon-40@2x.png" width="80" />
        <icon height="50" src="resources/ios/icon/icon-50.png" width="50" />
        <icon height="100" src="resources/ios/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="resources/ios/icon/icon-60.png" width="60" />
        <icon height="120" src="resources/ios/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="resources/ios/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="resources/ios/icon/icon-72.png" width="72" />
        <icon height="144" src="resources/ios/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="resources/ios/icon/icon-76.png" width="76" />
        <icon height="152" src="resources/ios/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="resources/ios/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="resources/ios/icon/icon-small.png" width="29" />
        <icon height="58" src="resources/ios/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="resources/ios/icon/icon-small@3x.png" width="87" />
        <icon height="1024" src="resources/icon-1024-non-transparent.png" width="1024" />
        <splash src="resources/ios/splash/Default@2x~universal~anyany.png" />
        <splash src="resources/ios/splash/Default@2x~universal~comany.png" />
        <splash src="resources/ios/splash/Default@2x~universal~comcom.png" />
        <splash src="resources/ios/splash/Default@3x~universal~anyany.png" />
        <splash src="resources/ios/splash/Default@3x~universal~anycom.png" />
        <splash src="resources/ios/splash/Default@3x~universal~comany.png" />
    </platform>
    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
    <plugin name="org.apache.cordova.device" spec="~0.3.0" />
    <plugin name="org.apache.cordova.console" spec="~0.2.13" />
    <plugin name="cordova-plugin-whitelist" spec="~1.0.0" />
    <plugin name="cordova-plugin-network-information" spec="~1.0.1" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.1" />
    <plugin name="hu.dpal.phonegap.plugins.PinDialog" spec="https://github.com/Paldom/PinDialog.git" />
    <plugin name="io.github.pwlin.cordova.plugins.fileopener2" spec="https://github.com/pwlin/cordova-plugin-file-opener2.git" />
    <plugin name="uk.co.whiteoctober.cordova.appversion" spec="https://github.com/whiteoctober/cordova-plugin-app-version.git" />
    <plugin name="nl.x-services.plugins.toast" spec="https://github.com/EddyVerbruggen/Toast-PhoneGap-Plugin.git" />
    <plugin name="org.apache.cordova.statusbar" spec="~0.1.10" />
    <plugin name="cordova-plugin-customurlscheme" spec="https://github.com/blocktrail/Custom-URL-scheme.git">
        <variable name="URL_SCHEME" value="bitcoin" />
    </plugin>
    <plugin name="cordova-plugin-vibration" spec="~1.2.0" />
    <plugin name="cordova-plugin-dialogs" spec="~1.1.2-dev" />
    <plugin name="cordova-plugin-google-app-conversion-tracker" spec="https://github.com/MyHealthTeams/google-app-conversion-tracker.git" />
    <plugin name="cordova-fabric-plugin" spec="~1.0.8">
        <variable name="FABRIC_API_KEY" value="059fcf328d73ce164c3ab1c4436293db0d6718ca" />
        <variable name="FABRIC_API_SECRET" value="2c340ebe46f524afe449562561ea54dfadc2e974006b7ce0b45340753c1ee741" />
    </plugin>
    <plugin name="cordova-plugin-google-analytics" spec="https://github.com/danwilson/google-analytics-plugin.git" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.7" />
    <plugin name="cordova-plugin-firebase" spec="https://github.com/arnesson/cordova-plugin-firebase" />
    <plugin name="cordova-open" spec="~1.0.12" />
    <plugin name="cordova-universal-clipboard" spec="https://github.com/Visigo/CordovaClipboard" />
    <plugin name="cordova-plugin-appsflyer-sdk" spec="https://github.com/AppsFlyerSDK/cordova-plugin-appsflyer-sdk.git" />
    <plugin name="cordova-plugin-android-permissions" spec="~1.0.0" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="~2.1.3" />
    <plugin name="cordova-plugin-inappbrowser" spec="~3.0.0" />
    <plugin name="cordova-plugin-contacts-phonenumbers" spec="~0.0.11" />
    <plugin name="cordova-plugin-email-composer" spec="~0.8.15" />
    <plugin name="cordova-sqlite-storage" spec="~2.5.1" />
    <plugin name="cordova-plugin-camera" spec="~4.0.3" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~8.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.4">
        <variable name="APP_ID" value="1072524012838770" />
        <variable name="APP_NAME" value="BTC.com" />
    </plugin>
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <engine name="android" spec="6.4.0" />
    <engine name="ios" spec="4.5.4" />
</widget>
