<ion-view class="state-android43">
    <ion-nav-bar class="bar-energized">
        <ion-nav-title>{{ altNotice || 'Android 4.3' }} BUG!</ion-nav-title>
    </ion-nav-bar>

    <ion-content>
        <div style="padding: 20px">
            <h3>Important Notice For {{ altNotice || 'Android 4.3' }} Users</h3>
            ​
            <p>
                Due to a bug that was discovered in {{ altNotice || 'older Android versions (4.3 and below)' }}, <br />
                we've removed the wallet app from the Google Play store for these older versions.
            </p>
            ​
            <p>
                If your wallet was created on your {{ altNotice || 'Android 4.3' }} device, this bug is severe enough that you cannot continue using the wallet, both on mobile and web.
            </p>
            ​
            <p>
                Please contact support@btc.com so that we may help you recover your wallet and your bitcoins.
            ​</p>

            <p>
                To continue using the BTC.com wallet we recommend you use our Web Wallet or our mobile wallet on supported Android versions. <br />
                But it's important that you contact us first so we can help you recover your wallet and delete it afterwards.
            </p>
            ​
            <p>
                We sincerely appologize for this incident and any inconveniance this causes. <br />
                We value your trust and confidence in our company and we strive to meet the high standards we set for ourselves.
            ​</p>

            <p>
                Thank you for being a loyal member of the BTC.com community.
            </p>
        </div>
    </ion-content>
</ion-view>
