<ion-view class="state-setup state-login">
    <ion-nav-title class="">{{ 'SETUP_LOGIN' | translate }}</ion-nav-title>

    <ion-nav-buttons side="left">
        <button ng-click="$btBackButtonDelegate.goBack($event)"
                class="button button-clear icon bt-back-button {{ !$btBackButtonDelegate.isDisplayed && 'hide' || '' }}"
                ng-class="{'ion-ios-arrow-back': isIOS, 'ion-android-arrow-back': isAndroid}">
        </button>
    </ion-nav-buttons>

    <ion-content scroll="true" >
        <form
            class="form-login"
            name="loginForm"
            novalidate
        >
            <div class="card">
                <!-- Email -->
                <ion-item>
                    <input
                        type="email"
                        placeholder="{{ 'SETUP_LOGIN_PLACEHOLDER' | translate }}"
                        name="email"
                        ng-model="form.email"
                        required
                    >
                </ion-item>

                <!-- Password -->
                <ion-item>
                    <input
                        class="form-control"
                        type="password"
                        placeholder="{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}"
                        name="password"
                        ng-model="form.password"
                        required
                    >
                </ion-item>

                <!-- Submit button -->
                <ion-item>
                    <button class="button button-block" ng-click="onSubmitFormLogin(loginForm)">{{ 'SETUP_LOGIN' | translate }}</button>
                </ion-item>




                <!--<div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label text-neutral">{{ 'SETUP_LOGIN_PLACEHOLDER' | translate }}</span>
                        <input type="text" autocapitalize="off" placeholder="{{ 'SETUP_LOGIN_PLACEHOLDER' | translate }}" ng-model="form.username">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label text-neutral">{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}</span>
                        <input type="password" placeholder="{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}" ng-model="form.password" ng-enter="doLogin()">
                    </label>
                    <label class="item item-select currency-select">
                        <span class="input-label">{{ 'SETUP_NETWORK_CHOICE' | translate }}</span>
                        <select ng-model="form.network">
                            <option value="BTC">Bitcoin</option>
                            <option value="BCC">BitcoinCash</option>
                        </select>
                    </label>
                    <div ng-if="CONFIG.DEBUG" class="item item-no-border-b item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="form.forceNewWallet">
                        </label>
                        <span class="sentence-case">{{ 'SETUP_FORCE_NEW_WALLET' | translate }}</span>
                    </div>
                    <div></div>
                </div>

                <div class="row text-center">
                    <div class="col col-offset-25 col-50 padding-bottom">
                        <button class="button button-block" type="submit" ng-click="doLogin()">{{ 'SETUP_LOGIN' | translate }}</button>
                    </div>
                </div>-->
            </div>
        </form>
    </ion-content>

</ion-view>
