<ion-view class="state-buybtc">
    <ion-nav-title>
        <span on-hold="resetBuyBTC()" class="">{{ 'BUYBTC_NAVTITLE' | translate }}</span>
    </ion-nav-title>

    <ion-content>
        <div ng-if="chooseRegion">
            <!-- CHOOSE REGION -->
            <div ng-if="!chooseRegion.code" ng-controller="BuyBTCChooseRegionCtrl">
                <div class="item item-text-wrap">
                    <h2 class="text-neutral sentence-case">{{ 'BUYBTC_CHOOSE_REGION_TITLE' | translate }}</h2>
                    <p class="padding-t sentence-case" ng-bind-html="'BUYBTC_CHOOSE_REGION_BODY' | translate | nl2br"></p>
                </div>

                <div ng-if="!usSelected">
                    <h3 class="group-title">{{ 'BUYBTC_REGIONS' | translate }}</h3>
                    <div class="list list-inset">
                        <div class="item item-button-right" ng-click="selectUS()">
                            <span class="sentence-case">USA</span>
                            <button class="button button-clear">
                                <i class="icon ion-chevron-right"></i>
                            </button>
                        </div>
                        <div class="item item-button-right" ng-repeat="region in regions" ng-click="selectRegion(region.code, region.name)">
                            <span class="sentence-case">{{ region.name | translate }}</span>
                            <button class="button button-clear">
                                <i class="icon ion-chevron-right"></i>
                            </button>
                        </div>
                        <div class="item item-button-right" ng-click="selectRegion('OTHER_REGIONS')">
                            <span class="sentence-case">{{ 'OTHER_REGIONS' | translate }}</span>
                            <button class="button button-clear">
                                <i class="icon ion-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div ng-if="usSelected">
                    <h3 class="group-title">{{ 'BUYBTC_REGIONS' | translate }}</h3>
                    <div class="list list-inset">
                        <div ng-repeat="usState in usStates" class="item item-button-right" ng-click="selectRegion(usState.code, usState.name)">
                            <span class="sentence-case">{{ usState.name }} ({{ usState.code.replace('US-', '') }})</span>
                            <button class="button button-clear">
                                <i class="icon ion-chevron-right"></i>
                            </button>
                        </div>
                        <div class="item item-button-right" ng-click="selectRegion('OTHER_REGIONS')">
                            <span class="sentence-case">Other</span>
                            <button class="button button-clear">
                                <i class="icon ion-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- REGION NOT OK -->
            <div ng-if="chooseRegion.code && !chooseRegion.regionOk">
                <div class="item item-text-wrap">
                    <h2 class="text-neutral">{{ 'BUYBTC_REGION_NOTOK_TITLE' | translate }}: <span class="">{{ chooseRegion.name | translate }}</span></h2>
                    <p class="padding-t sentence-case" ng-bind-html="'BUYBTC_REGION_NOTOK_BODY' | translate | nl2br"></p>
                </div>

                <div class="padding-t card">
                    <div class="list">
                        <div class="item">
                            <button class="button send-button button-block button-energized" ng-click="selectRegion(null, null)">
                                {{ 'BUYBTC_CHANGE_REGION' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- REGION OK -->
            <div ng-if="chooseRegion.code && chooseRegion.regionOk">
                <div class="item item-text-wrap">
                    <h2 class="text-neutral">{{ 'BUYBTC_CHOOSE_TITLE' | translate }}</h2>
                    <p class="padding-t" ng-bind-html="'BUYBTC_CHOOSE_SUBTITLE' | translate | nl2br"></p>
                </div>

                <h3 class="group-title">{{ 'BUYBTC_PROVIDERS' | translate }}</h3>
                <div class="list list-inset">
                    <div ng-if="brokers.indexOf('glidera') !== -1" class="item item-button-right" ng-click="goGlideraBrowser()">
                        <span class="sentence-case">Glidera</span>
                        <button class="button button-clear">
                            <i class="icon ion-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
