//--- side menu ---
$sidemenu-header-bg:        #a5a5a5 !default;
$sidemenu-body-bg:          $menu-bg;
$sidemenu-avatar-size:      70px !default;
$sidemenu-font-color:       #465a5a !default;
$sidemenu-option-spacing:   34px !default;
$sidemenu-option-fontsize:  22px !default;
$sidemenu-header-height:    110px !default;


.wallet-side-header {
    background: none;
    padding-left: 70px;
    background: $sidemenu-header-bg;
    border-bottom: 1px solid $mediumgray-dark;

    .display-token {
        position: absolute;
        top: 10px;
        left: 14px;
        text-align: center;

        i {
            &.icon {
                width: 45px;
                height: 45px;
                font-size: 54px;
                color: #999;
            }
        }
    }

    .item {
        border: none;
        background: none;
        padding: 0;

        a {
            display: block;
        }
    }

    h2, p {
        color: $sidemenu-font-color;
    }

    p {
        line-height: 16px;
    }
}