<div class="modal dialog-message">
    <div class="va">
        <div class="va-holder">
            <div class="va-content">
                <div class="card card-modal card-sm">
                    <ion-item class="item-text-wrap item-borderless item-modal-content item-no-bottom-indent">
                        <h2 ng-if="title" class="title" ng-class="titleClass" ng-bind-html="(title | translate)"></h2>
                        <p ng-if="body" class="body" ng-class="bodyClass" ng-bind-html="(body | translate)"></p>
                    </ion-item>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block" ng-click="cancel()">{{ button | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
