<ion-view class="state-setup state-backup">
    <ion-nav-title class="">{{ 'SETUP_WALLET_BACKUP' | translate }}</ion-nav-title>

    <ion-content>
        <div class="card">
            <div class="list-header">
                <p>{{ 'MSG_BACKUP_DESCRIPTION' | translate }}</p>
            </div>

            <ion-item>
                <button
                    class="button send-button button-block button-energized"
                    ng-click="showExportOptions()"
                >{{ 'SAVE' | translate }}</button>
            </ion-item>

            <ion-item>
                <button
                    class="pull-right button button-small button-neutral sentence-case"
                    ng-click="skipBackup()"
                >{{ 'SETUP_SKIP_BACKUP' | translate }}...</button>
            </ion-item>
        </div>

        <div class="card" ng-show="appControl.saveButtonClicked">
            <div class="item item-no-border-b item-checkbox">
                <label class="checkbox">
                    <input type="checkbox" ng-model="appControl.backupSaved">
                </label>
                <span class="sentence-case">{{ 'SETUP_WALLET_BACKUP_CONFIRM' | translate }}</span>
            </div>
            <div class="item item-borderless">
                <button class="button button-block"
                        ng-class="{'button-neutral': !appControl.backupSaved, 'button-positive': appControl.backupSaved}"
                        ng-click="continue()">{{ 'CONTINUE' | translate }}
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
