<ion-view class="state-setup state-backup">
    <ion-nav-title>{{ 'SETUP_WALLET_BACKUP' | translate }}</ion-nav-title>

    <ion-content scroll="true">
        <div class="card">
            <div class="list-header">
                <p>{{ 'MSG_BACKUP_DESCRIPTION' | translate }}</p>
            </div>

            <ion-item class="item-borderless item-text-wrap text-center">
                <button
                    class="button button-block button-positive"
                    ng-click="onShowExportOptions()"
                >{{ 'SAVE' | translate }}
                </button>
            </ion-item>

            <ion-item
                class="text-right"
                ng-if="!isButtonEmailOrOpenClicked"
            >
                <button
                    class="button button-small button-stable"
                    ng-click="onSkipBackup()"
                >{{ 'SETUP_SKIP_BACKUP' | translate }}
                </button>
            </ion-item>
        </div>

        <form
            class="card"
            ng-if="isButtonEmailOrOpenClicked"
        >
            <ion-item>
                <ion-checkbox ng-model="form.isBackupSaved">
                    {{ 'SETUP_WALLET_BACKUP_CONFIRM' | translate }}
                </ion-checkbox>
            </ion-item>

            <ion-item class="item-borderless">
                <button
                    class="button button-block button-positive"
                    ng-disabled="!form.isBackupSaved"
                    ng-click="onNextStep()"
                >{{ 'CONTINUE' | translate }}
                </button>
            </ion-item>
        </form>

    </ion-content>
</ion-view>
