<ion-view class="state-setup state-pin">
    <ion-nav-title class="">{{ 'WALLET_PIN' | translate }}</ion-nav-title>

    <ion-content scroll="true">
        <form
            class="form-create-new-account"
            name="registerForm"
            novalidate
        >
            <div class="card">
                <div class="list-header">
                    <p>{{ 'SETUP_PIN_DESC_TITLE' | translate }}</p>
                    <p><small>{{ 'SETUP_PIN_DESC_SUBTITLE' | translate }}</small></p>
                </div>

                <!-- Pin -->
                <ion-item>
                    <input
                        type="tel"
                        placeholder="{{ 'SETUP_PIN_PLACEHOLDER' | translate }}"
                        name="pin"
                        ng-model="form.pin"
                    >
                </ion-item>

                <!-- Pin repeat -->
                <ion-item>
                    <input
                        type="tel"
                        placeholder="{{ 'SETUP_PIN_REPEAT_PLACEHOLDER' | translate }}"
                        name=""
                        ng-model="form.pinRepeat"
                    >
                </ion-item>

                <!-- Submit button -->
                <ion-item>
                    <button class="button button-block" ng-click="onSubmitFormPin()">{{ 'CONTINUE' | translate }}</button>
                </ion-item>

            </div>
        </form>
    </ion-content>

</ion-view>
