<ion-view class="state-buybtc">
    <ion-nav-title>
        <span on-hold="resetBuyBTC()" class="">{{ 'BUYBTC_NAVTITLE' | translate }}</span>
    </ion-nav-title>

    <ion-content>
        <h3 class="group-title">
            Buy with Credit Card
        </h3>
        <div class="list list-inset">
            <div class="item item-button-right" ng-click="goBuyBTCState('simplex')">
                <img class="logo-simplex" src="img/simplex-logo.png">
                <button class="button button-clear">
                    <i class="icon ion-chevron-right"></i>
                </button>
            </div>
        </div>

        <h3 class="group-title">
            Buy in USA
        </h3>
        <div class="list list-inset">
            <div class="item item-button-right" ng-click="goGlideraBrowser()">
                <img class="logo-glidera" src="img/glidera-bright.png">
                <button class="button button-clear">
                    <i class="icon ion-chevron-right"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
