<ion-view class="state-buybtc">
    <ion-nav-title class="">{{ 'BUYBTC_NETWORK' | translate : { network: networkLong }}}</ion-nav-title>

    <form name="buyInputForm" novalidate>
        <ion-content has-bouncing="false">
            <div class="card">
                <div class="amount-input-section" ng-class="{'with-footer': buyInput.displayFee && (buyInput.btcValue || buyInput.fiatValue), 'btc-first': !fiatFirst, 'fiat-first': fiatFirst}">
                    <div class="input-group btc-input" ng-class="{'position-first': !fiatFirst, 'position-last': fiatFirst}">
                        <input type="{{ isSamsung && 'text' || 'number' }}" step="0.0001" name="btcValue" select-on-focus
                               ng-model="buyInput.btcValue"
                               raw-model="btcValueRaw"
                               ng-change="triggerUpdate();"
                               ng-enter="blurInput($event)"
                               tabindex="{{ !fiatFirst && 1 || -1 }}"/>
                        <div class="label-group">
                            <span class="placeholder-label">{{ 'AMOUNT_PLACEHOLDER' | translate }}</span>
                            <span class="spacer"
                                  ng-if="(!fetchingInputPrice && !fiatFirst) || (fetchingInputPrice && !fiatFirst) || (!fetchingInputPrice && fiatFirst)">{{ btcValueRaw }}</span>
                            <span class="label">
                                BTC
                            </span>
                        </div>
                    </div>
                    <div class="input-group fiat-input" ng-class="{'position-first': fiatFirst, 'position-last': !fiatFirst}">
                        <input type="{{ isSamsung && 'text' || 'number' }}" step="0.01" name="fiatValue"
                               ng-model="buyInput.fiatValue"
                               raw-model="fiatValueRaw"
                               ng-change="triggerUpdate();"
                               ng-enter="blurInput($event)"
                               tabindex="{{ fiatFirst && 1 || -1 }}"/>
                        <div class="label-group">
                            <span class="placeholder-label">{{ 'AMOUNT_PLACEHOLDER' | translate }}</span>
                            <span class="label">
                                {{ buyInput.fiatCurrency | toCurrencySymbol }}
                            </span>
                            <span class="spacer"
                                  ng-if="(!fetchingInputPrice && fiatFirst) || (fetchingInputPrice && fiatFirst) || (!fetchingInputPrice && !fiatFirst)">
                                {{ fiatValueRaw }}
                            </span>
                        </div>

                    </div>
                    <div class="input-swapping-overlay" ng-click="swapInputs()">
                        <i class="swap-icon ion-arrow-swap"></i>
                    </div>
                    <span class="buy-rate-percoin" ng-if="buyInput.btcPrice">
                       {{ buyInput.btcPrice | number:2 }} {{ priceBTCCurrency | toCurrencySymbol }}/B
                    </span>
                </div>

            </div>

            <div class="padding-t card" ng-show="errorMsg">
                <div class="help-text">
                    <div class="text-muted text-center">
                        <p> {{ errorMsg }} </p>
                    </div>
                </div>
            </div>

            <div class="card" ng-if="buyInput.displayFee && (buyInput.btcValue || buyInput.fiatValue)">
                <!-- for debug //-->
                {{ includingFee ? 'BUYBTC_INCL_FEE': 'TX_INFO_FEE' }} ({{ buyInput.feePercentage | number:1 }}%) <->
                {{ priceBTCCurrency | toCurrencySymbol }}{{ buyInput.feeValue | number:2 }}
            </div>

            <div class="card" ng-show="broker === 'simplex'">
                <div class="item buy-tos text-center">
                    <ion-checkbox ng-model="termsAccepted" style="border-width: 0px;">
                        <span class="sentence-case" style="white-space: normal;" translate="BUYBTC_SIMPLEX_TOS"></span>
                    </ion-checkbox>
                    <div>
                        <a href="https://www.simplex.com/terms-of-use/" browse-to="">{{ 'TERMS_OF_USE' | translate }} <i class="ion-android-open"></i></a>
                        |
                        <a href="https://www.simplex.com/privacy-policy/" browse-to="">{{ 'PRIVACY_POLICY' | translate }} <i class="ion-android-open"></i></a>
                    </div>
                </div>
            </div>

            <div class="recipient-input-section padding-t card">
                <div class="list">
                    <div class="item">
                        <button class="button send-button button-block button-energized"
                                ng-click="buyBTC()"
                                ng-disabled="errorMsg || fetchingInputPrice || fetchingMainPrice || (!termsAccepted && broker != 'glidera')"
                        >{{ 'BUYBTC_BUY' | translate }}</button>
                    </div>
                </div>
            </div>

            <div class="buy-btc-via-vendor">
                <p>
                    {{ 'BUYBTC_VIA' | translate }} <span class="sentence-case">{{ broker }}</span>
                    <a href="#" ng-click="$state.go('app.wallet.buybtc.choose')">{{ 'CHANGE' | translate }}</a>
                </p>
                <p ng-if="broker === 'glidera'">
                    {{ 'BUYBTC_BANK_TRANSFER_SLOW' | translate }}
                </p>
            </div>
        </ion-content>
    </form>
</ion-view>
