<ion-view class="state-pin-login-screen">
    <ion-content>
        <form
            class="card form-pin-entry"
            name="pinForm"
            ng-submit="onSubmitFormPin(form.pin)"
            ng-if="!isLocked"
            novalidate
        >
            <div class="item-modal-content">
                <img class="logo-btc-com" src="img/logo-btc-com.png">
                <h4 class="title">{{ 'WALLET_PIN' | translate }}</h4>
            </div>

            <label class="item item-borderless item-input item-input-pin">
                <input
                    type="tel"
                    class="password-mask"
                    placeholder=""
                    name="pin"
                    ng-model="form.pin"
                    required
                    auto-focus
                >
            </label>

            <!-- Submit button -->
            <div class="item item-borderless item-button-pin">
                <button
                    type="submit"
                    class="button"
                >{{ 'CONFIRM' | translate }}</button>
            </div>

        </form>
        <div
            class="card form-pin-entry"
            ng-if="isLocked"
        >
            <div class="item-modal-content">
                <img class="logo-btc-com" src="img/logo-btc-com.png">
                <h3 class="title">{{ 'PLEASE_WAIT_SECONDS' | translate : { seconds: lockTimer } }}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>
