<ion-view class="state-promo">
    <ion-nav-title class="">{{ 'PROMO_CODES' | translate }}</ion-nav-title>
    <ion-nav-buttons side="right">
        <div class="button" ng-show="!appControl.showMessage && isKeyboardShown" ng-click="confirmInput()">{{ 'REDEEM' | translate }}</div>
    </ion-nav-buttons>

    <ion-content ng-class="{'blur-me': appControl.showMessage && isIOS}">
        <div class="message text-center">
            <h3 class="title" ng-class="message.title_class" ng-show="!appControl.working">{{ message.title | translate }}</h3>
            <p class="body" ng-class="message.body_class" ng-show="!appControl.working">{{ message.body | translate }}</p>
        </div>

        <div class="card">
            <div class="item">
                <h2 class=" text-center title">{{ 'PROMO_REDEEM' | translate }}</h2>
            </div>

            <div class="list list-inset address-input">
                <label class="item item-input item-floating-label">
                    <span class="input-label">{{ 'PROMO_CODE_PLACEHOLDER' | translate }}</span>
                    <input type="text" ng-model="promoCodeInput.code" ng-enter="confirmInput()" ng-change="resetMessage()" tabindex="-1" placeholder="{{ 'PROMO_CODE_PLACEHOLDER' | translate }}...">
                </label>
            </div>

            <div class="list">
                <div class="item">
                    <button class="button button-block button-energized" ng-click="confirmInput()">{{ 'REDEEM' | translate }}</button>
                </div>
            </div>
        </div>
    </ion-content>

    <div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="dismissMessage()">
        <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
        <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
        <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
        <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
    </div>
    <!-- /message screen -->
</ion-view>
