<div class="item item-avatar item-transaction" ng-click="onShowTransaction(transaction)">
    <!-- Transaction avatar -->
    <wallet-transaction-avatar
        transaction="transaction"
    ></wallet-transaction-avatar>

    <!-- Transaction description -->
    <wallet-transaction-description
        transaction="transaction"
    ></wallet-transaction-description>

    <!-- Is pending transaction - respecting btc precision -->
    <div
        class="pending"
        ng-if="!transaction.block_height"
        ng-style="btcPrecision > 4 && btcPrecision < 7 && { 'right' : '115px' } || btcPrecision > 6 && { 'right' : '130px' }"
    >
        <i class="icon ion-clock"></i>
    </div>

    <!-- Value -->
    <div
        class="value"
        ng-class="isReceived ? 'received' : 'sent'"
        ng-bind-html="value"
    ></div>
</div>





