<ion-view class="state-setup state-complete" ng-class="{'blur-me': appControl.showMessage}">
    <ion-nav-buttons side="left">
        <button ng-click="$btBackButtonDelegate.goBack($event)"
                class="button button-clear icon bt-back-button {{ !$btBackButtonDelegate.isDisplayed && 'hide' || '' }}"
                ng-class="{'ion-ios-arrow-back': isIOS, 'ion-android-arrow-back': isAndroid}">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="info-section">
            <div class="card">
                <div class="item item-text-wrap">
                    <h1 class="text-neutral text-center">{{ 'SETUP_COMPLETE_TITLE' | translate }}</h1>
                    <p class="padding-t text-center">
                        {{ 'SETUP_COMPLETE_SUBTITLE' | translate }}
                        <br/>
                    </p>
                    <p class="padding-t text-center">
                        {{ 'SETUP_COMPLETE_SUBTITLE_2' | translate }}
                    </p>
                </div>

                <div class="item item-borderless">
                    <button class="button button-block button-positive" ng-click="continue()">{{ 'SETUP_COMPLETE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
