<ion-view class="state-setup state-contacts" ng-class="{'blur-me': appControl.showMessage}">
    <ion-nav-title class="">{{ 'SETUP_SYNC_CONTACTS' | translate }}</ion-nav-title>
    <ion-nav-buttons side="left">
        <button ng-click="$btBackButtonDelegate.goBack($event)"
                class="button button-clear icon bt-back-button {{ !$btBackButtonDelegate.isDisplayed && 'hide' || '' }}"
                ng-class="{'ion-ios-arrow-back': isIOS, 'ion-android-arrow-back': isAndroid}">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="info-section">
            <div class="card padding-t">
                <div class="item item-text-wrap">
                    <h2 class="text-neutral">{{ 'SETUP_CONTACTS_DESC_TITLE' | translate }}</h2>
                    <p class="padding-t">{{ 'SETUP_CONTACTS_DESC_SUBTITLE' | translate }}</p>
                </div>

                <div class="item item-no-border item-checkbox" ng-if="!settings.contactsLastSync">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="settings.contactsWebSync">
                    </label>
                    {{ 'SETUP_WEB_SYNC' | translate }}
                </div>

                <div class="item item-borderless" ng-if="!settings.contactsLastSync">
                    <button class="button button-block button-positive no-animate"
                            ng-class="{'button-neutral': appControl.syncing}"
                            ng-if="!appControl.syncComplete"
                            ng-click="syncContacts()">
                        <span ng-if="!appControl.syncing">{{ 'SYNC_NOW' | translate }}</span>
                        <span ng-if="appControl.syncing">{{ 'SYNCING' | translate }}</span>
                        <ion-spinner icon="dots" ng-if="appControl.syncing"></ion-spinner>
                    </button>
                    <!-- @todo decide to use link or button style
                    <a class="padding-t pull-right skip-step" ui-sref="app.setup.profile">{{ 'SKIP_STEP' | translate }}...</a>
                    -->
                    <div class="padding-t">
                        <a class="margin-t pull-right button button-small button-neutral sentence-case" ui-sref="app.setup.profile">{{ 'SKIP_STEP' | translate }}</a>
                    </div>
                </div>
                <div class="item item-borderless" ng-if="settings.contactsLastSync">
                    <small ng-class="{'text-good': settings.contactsLastSync, 'text-bad': !settings.contactsLastSync}">
                        {{ settings.contactsLastSync && ('SETTINGS_CONTACTS_SYNCED' | translate) || ('SETTINGS_CONTACTS_UNSYNCED' | translate) }}
                        <small class="text-neutral opacity-50" ng-if="settings.contactsLastSync">({{ settings.contactsLastSync | amDateFormat:'Do MMMM YYYY' }})</small>
                    </small>
                    <button class="button button-block button-positive"
                            ui-sref="app.setup.profile">{{ 'CONTINUE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
