<ion-view class="state-setup state-login" ng-class="{'blur-me': appControl.showMessage}">
    <ion-nav-bar class="bar-energized">
        <ion-nav-title class="">{{ 'SETUP_LOGIN' | translate }}</ion-nav-title>

        <ion-nav-buttons side="left">
            <button ng-click="$btBackButtonDelegate.goBack($event)"
                    class="button button-clear icon bt-back-button {{ !$btBackButtonDelegate.isDisplayed && 'hide' || '' }}"
                    ng-class="{'ion-ios-arrow-back': isIOS, 'ion-android-arrow-back': isAndroid}">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="true" >
        <form ng-submit="doLogin()">
            <div class="padding-t card">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label text-neutral">{{ 'SETUP_LOGIN_PLACEHOLDER' | translate }}</span>
                        <input type="text" autocapitalize="off" placeholder="{{ 'SETUP_LOGIN_PLACEHOLDER' | translate }}" ng-model="form.username">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label text-neutral">{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}</span>
                        <input type="password" placeholder="{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}" ng-model="form.password" ng-enter="doLogin()">
                    </label>
                    <div ng-if="CONFIG.DEBUG" class="item item-no-border-b item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="form.forceNewWallet">
                        </label>
                        <span class="sentence-case">{{ 'SETUP_FORCE_NEW_WALLET' | translate }}</span>
                    </div>
                    <div></div>
                </div>

                <div class="row text-center">
                    <div class="col col-offset-25 col-50 padding-bottom">
                        <button class="button button-block" type="submit" ng-click="doLogin()">{{ 'SETUP_LOGIN' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
<!-- /message screen -->
