<ion-view class="state-setup state-login" ng-class="{'blur-me': appControl.showMessage}">
    <ion-nav-title class="">{{ 'SETUP_REGISTER' | translate }}</ion-nav-title>
    <ion-nav-buttons side="left">
        <button ng-click="$btBackButtonDelegate.goBack($event)"
                class="button button-clear icon bt-back-button {{ !$btBackButtonDelegate.isDisplayed && 'hide' || '' }}"
                ng-class="{'ion-ios-arrow-back': isIOS, 'ion-android-arrow-back': isAndroid}">
        </button>
    </ion-nav-buttons>

    <ion-content scroll="true">
        <ng-form name="registerForm">
            <div class="card">
                <div class="list">
                    <label class="item item-input item-floating-label input-email" ng-if="form.registerWithEmail">
                        <div class="input-label text-neutral">{{ 'SETUP_EMAIL_PLACEHOLDER' | translate }}</div>
                        <input type="email" placeholder="{{ 'SETUP_EMAIL_PLACEHOLDER' | translate }}" required ng-model="form.email">
                    </label>
                    <!-- /email -->

                    <label class="item item-input item-floating-label input-username" ng-if="!form.registerWithEmail">
                        <div class="input-label text-neutral">
                            <span>{{ 'SETUP_USERNAME_PLACEHOLDER' | translate }}</span>
                            <div class="username-check text-right text-bad">
                                <div ng-if="usernameTaken">{{ 'TAKEN' | translate }}</div>
                                <div ng-if="registerForm.username.$invalid && registerForm.username.$dirty">{{ 'MSG_INVALID_USERNAME' | translate }}</div>
                                <i class="icon ion-checkmark-circled text-good" ng-if="form.username && usernameTaken==false"></i>
                                <ion-spinner ng-if="appControl.checkingUsername"></ion-spinner>
                            </div>
                        </div>
                        <input type="text"
                               name="username"
                               placeholder="{{ 'SETUP_USERNAME_PLACEHOLDER' | translate }}"
                               ng-pattern="'[a-zA-Z0-9_]*'"
                               ng-model="form.username"
                               ng-model-options='{ debounce: 400 }'
                               ng-change="checkUsername()">
                    </label>
                    <!-- /username -->

                    <label class="item item-input item-text-wrap item-floating-label input-password">
                        <span class="input-label text-neutral">{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}</span>
                        <div class="password-check text-right">
                            <i class="icon ion-close-circled text-bad" ng-if="form.passwordCheck && form.passwordCheck.score < 2"></i>
                            <i class="icon ion-close-circled text-warning" ng-if="form.passwordCheck && form.passwordCheck.score == 2"></i>
                            <i class="icon ion-checkmark-circled text-good" ng-if="form.passwordCheck && form.passwordCheck.score >= 3"></i>
                        </div>
                        <input type="password" placeholder="{{ 'SETUP_PASSWORD_PLACEHOLDER' | translate }}"
                               ng-model="form.password"
                               ng-change="checkPassword()">

                        <div class="password-checker" ng-class="'password-checker-score-' + form.passwordCheck.score" ng-if="form.passwordCheck">
                            <span ng-if="form.passwordCheck.score == 0">{{ 'PASSWORD_SUPER_WEAK' | translate }} </span>
                            <span ng-if="form.passwordCheck.score == 1">{{ 'PASSWORD_WEAK' | translate }} </span>
                            <span ng-if="form.passwordCheck.score == 2">{{ 'PASSWORD_MEDIOCRE' | translate }} </span>
                            <span ng-if="form.passwordCheck.score == 3">{{ 'PASSWORD_STRONG' | translate }} </span>
                            <span ng-if="form.passwordCheck.score >= 4">{{ 'PASSWORD_SUPER_STRONG' | translate }} </span>
                            <span ng-bind-html="'PASSWORD_TIME_TO_CRACK' | translate:form.passwordCheck"></span>
                        </div>
                    </label>
                    <!-- /password -->
                    <div></div>
                </div>

                <div class="row text-center">
                    <div class="col col-offset-10 col-80 padding-bottom">
                        <button class="button button-block" ng-click="doRegister()">{{ 'SETUP_REGISTER' | translate }}</button>
                    </div>
                </div>
                <p ng-if="!form.registerWithEmail" class="item item-text-wrap text-neutral">
                    {{ 'MSG_USERNAME_WARNING' | translate }}
                </p>
            </div>
        </ng-form>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
<!-- /message screen -->
