<ion-view class="state-setup state-pin" ng-class="{'blur-me': appControl.showMessage}">
    <ion-nav-title class="">{{ 'WALLET_PIN' | translate }}</ion-nav-title>

    <ion-content scroll="false">
        <div class="padding-t card">
            <div class="item item-text-wrap">
                {{ 'SETUP_PIN_DESC_TITLE' | translate }}<br>
                <small>{{ 'SETUP_PIN_DESC_SUBTITLE' | translate }}</small>
            </div>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label text-neutral">{{ 'SETUP_PIN_PLACEHOLDER' | translate }}</span>
                    <input class="password-mask" type="tel" placeholder="{{ 'SETUP_PIN_PLACEHOLDER' | translate }}" ng-model="form.pin">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label text-neutral">{{ 'SETUP_PIN_REPEAT_PLACEHOLDER' | translate }}</span>
                    <input class="password-mask" type="tel" placeholder="{{ 'SETUP_PIN_REPEAT_PLACEHOLDER' | translate }}" ng-model="form.pinRepeat" ng-enter="setupWallet()">
                </label>
                <div></div>
            </div>

            <div class="row text-center">
                <div class="col col-offset-25 col-50 padding-bottom">
                    <button class="button button-block" ng-click="setupWallet()">{{ 'CONTINUE' | translate }}</button>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
