<ion-view class="state-setup state-phone" ng-class="{'blur-me': appControl.showMessage}">
    <ion-nav-title class="">{{ 'SETTINGS_PHONE_NUMBER' | translate }}</ion-nav-title>

    <ion-content>
        <div class="info-section">
            <div class="card padding-t">
                <div class="item item-text-wrap">
                    <h2 class="text-neutral">{{ 'SETUP_PHONE_DESC_TITLE' | translate }}</h2>
                    <p class="padding-t">{{ 'SETUP_PHONE_DESC_SUBTITLE' | translate }}</p>
                </div>

                <div class="item item-borderless" ng-if="!settings.phoneVerified">
                    <p class="padding-t">
                        <small>{{ 'SETUP_PHONE_SKIP_MSG' | translate }}</small>
                    </p>
                    <button class="button button-block button-positive"
                            ui-sref="app.setup.phone-verify({goBackTo: 'app.setup.contacts'})">{{ 'SETUP_PHONE' | translate }}
                    </button>
                    <div class="padding-t">
                        <a class="margin-t pull-right button button-small button-neutral sentence-case" ui-sref="app.setup.profile">{{ 'SKIP_STEP' | translate }}</a>
                    </div>
                </div>
                <div class="item item-borderless" ng-if="settings.phoneVerified">
                    <p>{{ 'SETUP_PHONE_LINKED' | translate }}: {{ settings.phoneNumber }}</p>
                    <button class="button button-block button-positive"
                            ui-sref="app.setup.contacts">{{ 'CONTINUE' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>

<div class="message-display" ng-class="{displayed: appControl.showMessage}" on-swipe-down="">
    <h2 class="title" ng-class="message.title_class">{{ message.title | translate }}</h2>
    <ion-spinner icon="dots" ng-if="appControl.working"></ion-spinner>
    <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
    <button class="button dismiss no-animate" ng-click="dismissMessage()" ng-hide="appControl.working">{{ 'OK' | translate }}</button>
</div>
