<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-google-app-conversion-tracker" version="0.0.2">

  <name>GoogleAppTracking</name>
  <description>Cordova Plugin for Google App Install Conversion Tracking</description>
  <license>Paul Nock, MyHealthTeams Inc.</license>
  <license>Apache 2.0</license>
  <keywords>google,install,conversion,tracking</keywords>

  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <js-module src="www/gapp_track.js" name="GoogleAppTracking">
    <clobbers target="GappTrack" />
  </js-module>


  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GoogleAppTracking">
        <param name="ios-package" value="GoogleAppTracking"/>
      </feature>
    </config-file>

    <header-file src="src/ios/ACTReporter.h" />
    <header-file src="src/ios/GoogleAppTracking.h" />
    <source-file src="src/ios/GoogleAppTracking.m" />
    <source-file src="lib/ios/libGoogleConversionTracking.a" framework="true"/>
    <framework src="AdSupport.framework" />
  </platform>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GoogleAppTracking" >
        <param name="android-package" value="com.myhealthteams.plugins.GoogleAppTracking"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <receiver android:name="com.google.ads.conversiontracking.InstallReceiver"
        android:exported="true">
        <intent-filter>
          <action android:name="com.android.vending.INSTALL_REFERRER" />
        </intent-filter>
      </receiver>
    </config-file>

    <source-file src="src/android/GoogleAppTracking.java" target-dir="src/com/myhealthteams/plugins" />
    <source-file src="lib/android/GoogleConversionTrackingSdk-2.2.2.jar" target-dir="libs" />
  </platform>

</plugin>

