<div class="modal dialog-message dialog-spinner">
    <div class="va">
        <div class="va-holder">
            <div class="va-content">
                <div class="card card-modal card-sm">
                    <ion-item class="item-text-wrap item-modal-prompt-content">
                        <h2 ng-if="title" class="title" ng-class="titleClass">{{ title | translate }}</h2>
                        <p ng-if="body" class="body" ng-class="bodyClass">{{ body | translate }}</p>
                        <ion-spinner icon="dots"></ion-spinner>
                    </ion-item>
                </div>
            </div>
        </div>
    </div>
</div>
