<div class="modal dialog-message dialog-select-wallet">
    <div class="va">
        <div class="va-holder">
            <div class="va-content">
                <div class="card card-modal card-sm">
                    <!-- Wallets list DEV -->
                    <div
                        ng-if="walletsListOptions.length <= 2"
                        class="list item-modal-content item-no-bottom-indent"
                    >

                        <div
                            ng-repeat="option in walletsListOptions"
                            ng-class="{ active: option.active, selected: option.selected }"
                            ng-click="onOptionClick(option.value)"
                            class="item item-icon-right text-left"
                        >
                            {{ CONFIG.NETWORKS[option.wallet.network].NETWORK_LONG }}
                            <i
                                ng-if="option.selected"
                                class="icon ion-checkmark"
                            ></i>
                        </div>
                    </div>

                    <!-- Wallets list DEV -->
                    <div
                        ng-if="walletsListOptions.length > 2"
                        class="list item-modal-content item-no-bottom-indent"
                    >

                        <div
                            ng-repeat="option in walletsListOptions"
                            ng-class="{ active: option.active, selected: option.selected }"
                            ng-click="onOptionClick(option.value)"
                            class="item item-icon-right text-left"
                        >
                            {{ option.wallet.network }} ({{ option.wallet.balance | satoshiToCoin : option.wallet.network : 4 }}) {{ option.wallet.identifier }}
                            <i
                                ng-if="option.selected"
                                class="icon ion-checkmark"
                            ></i>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="button button-block" ng-click="confirm()">{{ "SELECT" | translate }}
                            </button>
                        </div>
                        <div class="col">
                            <button class="button button-block" ng-click="cancel()">{{ "CANCEL" | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
