<ion-view class="state-wallet state-summary">
    <ion-nav-title class="">{{ 'MY_WALLET' | translate }}</ion-nav-title>

    <ion-nav-buttons side="right">
        <div class="button button-clear button-quickscan" nav-direction="forward" ui-sref="app.wallet.send.qrcode({backdrop: true})"><i class="icon-qrcode"></i></div>
    </ion-nav-buttons>


    <!-- TODO review this -->
    <!-- <user-balance-display ng-class="'maximise'"></user-balance-display> -->

    <!--delegate-handle="txScroll" on-scroll="onScroll(val)"-->

    <ion-content delegate-handle="txScroll" on-scroll="onScroll(val)">
        <ion-list>
            <!-- Transactions -->
            <div ng-repeat="transaction in walletData.transactions | limitTo : transactionsListLimit : 0 track by transaction.hash">
                <!-- Show date header -->
                <div
                    ng-if="isHeader(transaction)"
                    ng-class="{ 'isFirst': $first }"
                >
                    <div class="item-divider">
                        <div class="date-group">
                            {{ getTransactionHeader() | amCalendar }}
                        </div>
                    </div>
                </div>

                <!-- Wallet transaction -->
                <wallet-transaction
                    wallet-data="walletData"
                    transaction="transaction"
                    on-show-transaction="onShowTransaction(transaction)"
                ></wallet-transaction>
            </div>

            <!-- Wallet no transactions message -->
            <ion-item ng-if="!walletData.transactions.length">
                <p class="text-center opacity-50">{{ 'WALLET_NO_TXS' | translate }}</p>
            </ion-item>

            <!-- Wallet no more transaction message -->
            <ion-item ng-if="walletData.transactions.length && !isShowNoMoreTransactions">
                <p class="text-center opacity-50">{{ 'WALLET_NO_MORE_TXS' | translate }}</p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
            ng-if="isShowNoMoreTransactions"
            on-infinite="onShowMoreTransactions()"
            immediate-check="false"
            distance="25%">
        </ion-infinite-scroll>



        <!-- Wallet no transactions message -->
        <!--<wallet-no-transactions ng-show="!isLoading && !walletData.transactions.length"></wallet-no-transactions>-->
        <!-- Wallet no more transaction message -->
        <!--<wallet-no-more-transactions ng-class="{ active: isShowNoMoreTransactions }"></wallet-no-more-transactions>-->

    </ion-content>
</ion-view>
