.form-login {
    .item {
        position: relative;

        input {
            width: 100%;
            background: transparent;
            position: relative;
            z-index: 10;
        }
    }
}


