<div ng-if="data && data.hash">
    <h3 class="title" ng-class="{received: data.wallet_value_change > 0, sent: data.wallet_value_change <= 0}">
        <span ng-if="data.wallet_value_change <= 0">{{ 'TX_INFO_SENT' | translate }}</span>
        <span ng-if="data.wallet_value_change > 0">{{ 'TX_INFO_RECEIVED' | translate }}</span>
    </h3>
    <small class="tx-hash text-ellipsis" to-clipboard="data.hash">
        <span class="value">{{ data.hash }}</span>
        <span class="label">
            {{ 'TX_INFO_HASH' | translate }}
        </span>
    </small>
    <ion-content class="">
        <div class="amount" ng-class="{received: data.wallet_value_change > 0, sent: data.wallet_value_change <= 0}">
            <canvas-display text="(data.wallet_value_change | mathAbs | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 )" width="100%"
                            height="40"></canvas-display>
            <div class="fiat text-ellipsis" ng-if="data.price">
                <span class="value">{{ data.wallet_value_change | mathAbs | satoshiToCurrency: $root.settings.localCurrency :  data.price }}</span>
                <span class="label">{{ 'TX_INFO_TIME_SUBTITLE' | translate }}</span>
            </div>
            <div class="fiat text-ellipsis opacity-50" ng-if="data.price">
                <span class="value">{{ data.wallet_value_change | mathAbs | satoshiToCurrency: $root.settings.localCurrency :  bitcoinPrices }}</span>
                <span class="label">{{ 'TX_INFO_TIME_SUBTITLE_2' | translate }}</span>
            </div>
        </div>

        <div class="fee" ng-if="data.wallet_value_change <= 0">
            <div class="label">
                {{ 'TX_INFO_FEE' | translate }}
            </div>
            <div class="value">
                {{ data.fee | satoshiToCurrency: 'BTC' : bitcoinPrices : 8 }}
            </div>
        </div>

        <div class="buybtc" ng-if="data.buybtc">
            <div class="label">
                {{ 'TX_INFO_BUYBTC' | translate }}
            </div>
            <div class="value">
                {{ 'TX_INFO_BUYBTC_DETAILS' | translate:data.buybtc }}
            </div>
        </div>

        <div class="date">
            <div class="label">
                <span ng-if="data.wallet_value_change <= 0">{{ 'TX_INFO_DATE_SENT' | translate }}</span>
                <span ng-if="data.wallet_value_change > 0">{{ 'TX_INFO_DATE_RECEIVED' | translate }}</span>
            </div>
            <div class="value">{{ data.time | amDateFormat:'Do MMMM YYYY, h:mm:ss a' : 'unix' }}</div>
        </div>

        <div class="confirmations">
            <div class="label">
                {{ 'TX_INFO_CONFIRMATIONS_TITLE' | translate }}
            </div>
            <div class="value">
                <span ng-if="data.block_height">{{ data.block_height | confirmations }}</span>
                <span ng-if="data.block_height == null">{{ 'TX_INFO_PENDING' | translate }}</span>
            </div>
        </div>

        <div class="contact" ng-if="!data.buybtc && (data.contact && data.contact.displayName || (data.altDisplay && data.wallet_value_change <= 0))">
            <div class="label">
                <span ng-if="data.wallet_value_change <= 0">{{ 'TX_INFO_SENT_TO' | translate }}</span>
                <span ng-if="data.wallet_value_change > 0">{{ 'TX_INFO_RECEIVED_FROM' | translate }}</span>
            </div>
            <div class="value text-ellipsis">{{ data.contact && data.contact.displayName || data.altDisplay }}</div>
        </div>

        <div class="more-info padding-b">
            <div class="label">
                {{ 'TX_INFO_MORE_TITLE' | translate }} <i class="ion-android-open"></i>
            </div>
            <div class="value">
                <a href="https://btc.com/{{ data.hash }}" browse-to>{{ 'TX_INFO_MORE_LINK' | translate }}</a>
            </div>
        </div>

    </ion-content>

    <button class="button dismiss button-energized" ng-click="dismiss()">{{ 'OK' | translate }}</button>

    <div class="close" ng-click="dismiss()">
        <i class="ion ion-ios-close-empty"></i>
    </div>
</div>
