<div class="address-input-screen">
    <ion-content>
        <div class="card">
            <div class="item">
                <h2 class="text-center title">{{ 'TRANSACTION_FEES' | translate }}</h2>
            </div>

            <div class="list fee-choices">
                <div class="item item-text-wrap"
                     ng-class="{'item-dark': sendInput.feeChoice == OPTIMAL_FEE}"
                     ng-click="sendInput.feeChoice = OPTIMAL_FEE; $state.go('^');">
                    <div class="fee-choice">
                        <b class="fee-choice-title">{{ 'OPTIMAL_FEE' | translate }}</b>
                        <span ng-if="fees.optimal" class="fee-choice-fee">{{ fees.optimal | satoshiToCoin: walletData.networkType : 8 : false: 'hide' }}</span>
                    </div>
                    <div class="fee-choice-notice">
                        {{ 'OPTIMAL_PRIORITY_NOTICE' | translate }}
                    </div>
                </div>
                <div class="item item-text-wrap"
                     ng-class="{'item-dark': sendInput.feeChoice == LOW_PRIORITY_FEE}"
                     ng-click="sendInput.feeChoice = LOW_PRIORITY_FEE; $state.go('^');">
                    <div class="fee-choice">
                        <b>{{ 'LOW_PRIORITY_FEE' | translate }}</b>
                        <span ng-if="fees.lowPriority" class="fee-choice-fee">{{ fees.lowPriority | satoshiToCoin: walletData.networkType : 8 : false: 'hide' }}</span>
                    </div>
                    <div class="fee-choice-notice">
                        {{ 'LOW_PRIORITY_NOTICE' | translate }}
                    </div>
                </div>
                <div class="item item-text-wrap"
                     ng-if="PRIOBOOST_ENABLED"
                     ng-class="{'item-dark': sendInput.feeChoice == PRIOBOOST}"
                     ng-click="sendInput.feeChoice = PRIOBOOST; $state.go('^');">
                    <div class="fee-choice">
                        <b>{{ 'PRIOBOOST' | translate }}</b>
                        <span class="fee-choice-fee"
                              ng-if="fees.minRelayFee && (prioboost.possible)">{{ fees.minRelayFee | satoshiToCoin: walletData.networkType : 8 : false: 'hide' }}</span>
                        <span class="fee-choice-fee fee-choice-fee-err"
                              ng-if="prioboost.credits > 0 && (prioboost.tooLarge || prioboost.zeroConf)">{{ 'PRIOBOOST_NOT_POSSIBLE' | translate }}</span>
                        <span class="fee-choice-fee fee-choice-fee-err"
                              ng-if="prioboost.credits <= 0">{{ 'PRIOBOOST_NO_CREDITS_SHORT' | translate }}</span>
                    </div>
                    <div class="fee-choice-notice">
                        {{ 'PRIOBOOST_NOTICE' | translate }}<br />
                        {{ 'PRIOBOOST_CREDITS' | translate: {credits: prioboost.credits || 0} }}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</div>
