<div class="address-input-screen">
    <ion-content>

        <div class="message text-center">
            <h3 class="title" ng-class="message.title_class">{{ message.title | translate }}</h3>
            <p class="body" ng-class="message.body_class">{{ message.body | translate }}</p>
        </div>

        <div class="card">
            <div class="item">
                <h2 class=" text-center title">{{ 'ENTER_ADDRESS_TITLE' | translate }}</h2>
            </div>

            <div class="list list-inset address-input">
                <label class="item item-input item-floating-label">
                    <span class="input-label">{{ 'BITCOIN_ADDRESS' | translate }}</span>
                    <input type="text" ng-model="addressInput" ng-enter="confirmInput(addressInput)" tabindex="-1" placeholder="Bitcoin address">
                </label>
            </div>

            <div class="list">
                <div class="item">
                    <button class="button button-block button-energized" ng-click="confirmInput(addressInput)">{{ 'CONFIRM' | translate }}</button>
                </div>
            </div>
        </div>
    </ion-content>
</div>
