/*
  Main wallet theme and app layout

  //My animations :)

  swingin 1:    cubic-bezier(.13,.87,.42,.96)
  swingin 2:    cubic-bezier(.4,.1,.11,.98)
  sorta bounce: cubic-bezier(.7,1.62,.43,.76)

*/


//--- Scaffolding ---
.opacity-50 {
    opacity: 0.5;
}
.opacity-30 {
    opacity: 0.3;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.margin-t {
    margin-top: 0.5rem;
}
.margin-b {
    margin-bottom: 0.5rem;
}
.padding-t {
    padding-top: 0.5rem;
}
.padding-b {
    padding-bottom: 0.5rem;
}
.no-padding {
    padding: 0;
}
.no-padding-b {
    padding-bottom: 0;
}
.no-margin {
    margin: 0;
}

.blur-me {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);

    transition: filter 0.8s linear;
    -webkit-transition: -webkit-filter 0.8s linear;
}
.spin-me {
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.capitalise {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.sentence-case {
    display: inline-block;
    &::first-letter {
        text-transform: uppercase;
    }
}
.text-bad {
    color: $bad-red;
}
.text-good {
    color: $good-green;
}
.text-warning {
    color: $sunflower-dark;
}
.text-neutral {
    color: #666;
}
.text-white {
    color: #fff;
}
.text-muted {
    color:#999;
}
.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
.password-mask {
    -webkit-text-security: disc;
}

.error {
    input,
    textarea,
    select,
    &input,
    &textarea,
    &select {
        border: 1px solid #E9573F;
        background: #ffebe7;
        outline: 0;
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: shake;
    }
}

//create a square element with dynamic witdh
.box {
    position: relative;
    width: 50%; /* desired width */

    &:before {
        content: "";
        display: block;
        padding-top: 100%; /* initial ratio of 1:1*/
    }
}

/*--- Framework Hacks & Fixes ---*/
//fix the issue with the title for odd bar padding
.bar .title {
    margin: 0 15px;
}
.bar .title + .buttons {
    top: initial;
    right: $bar-padding-portrait;
    bottom: initial;
}
.bar-header {
    .button, .button-icon {
        @include transition(none 0s !important);
        &.ng-animate {
            @include transition(none 0s !important);
        }
    }
}
//ng-animate is enabled by default on EVERYTHING...any transition on an element will defer ng-if/ng-show
//when this is giving issues (like with buttons that have a transition for the active state), add this class to bypass
.no-animate {
    @include transition(none 0s !important);
    &.ng-animate {
        @include transition(none 0s !important);
    }
}

.platform-android {
    .action-sheet .button {
        padding-left: 1rem;
    }
}

.item-no-border {
    border: none;
}
.item-no-border-b {
    border-bottom: none;
}
/*---Framework Extends and Customisations---*/
//custom buttons
.button {
    &.button-neutral {
        //  use as button-style($button-bg, $button-border, $button-active-bg, $button-active-border, $button-text);
        @include button-style($mediumgray-dark, darken($mediumgray-dark, 10%), $mediumgray-light, $button-stable-active-border, $button-dark-text);
        @include button-clear($mediumgray-dark);
        @include button-outline($mediumgray-dark);
    }
}

//remove the number spinner (to help with UI dev in browser)
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.list {
    .item-button-right {
        .help {
            font-size:0.8rem;
            color:#999;
        }
        .help-block {
            display:block;
        }
        &.disabled {
            background-color:#dadada;
        }
    }
}


//--- General ---
.loading-screen {
    z-index: 10;
    
    .title-block {
        text-align: center;
        margin: 45% 0 0 0;
        padding: 0 0 3rem 0;

        .title {
            position: relative;
            padding: 0;
            font-family: $font-family-thin-sans-serif;
            font-size: 5.5rem;
            font-weight: 100;
            color: #fff;
            //style 0 - normal
            //text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 28px rgba(255,255,255,0.3);

            //style 1 - drop shadow (initial state)
            top: 0;
            text-shadow: none;
        }
        .subtitle {
            position: absolute;
            top: 5.5rem;
            right: 0;
            width: 100%;
            display: inline-block;
            font-family: $font-family-sans-serif;
            font-size: 1.05rem;
            font-weight: 400;
            text-align: right;
            color: rgba(255, 255, 255, 0.5);
            text-shadow: none;
        }
    }


    .spinner {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        opacity: 0;

        &.show {
            opacity: 1;
            transition: all linear 0.5s;
            -webkit-transition: all linear 0.5s;
            transition-delay: 1s;
            -webkit-transition-delay: 1s;
        }
    }
}
.loading .loading-screen .title-block .title {
    //style 1 - drop shadow (final animated state) - only kicks in after a long wait
    text-shadow: -5px 9px 5px rgba(0,0,0,0.2), -5px 9px 12px rgba(0,0,0,0.3);
    top: -12px;
    transition: text-shadow 0.5s linear, top 0.5s linear;
    -webkit-transition: text-shadow 0.5s linear, top 0.5s linear;
    transition-delay: 8s;
    -webkit-transition-delay: 8s;

    .subtitle {
        padding-top: 12px;
        transition: padding 0.5s linear;
        -webkit-transition: padding 0.5s linear;
        transition-delay: 8s;
        -webkit-transition-delay: 8s;
    }
}
$spinnerSize: 8rem;
.loader {
    display: block;
    position: absolute;
    top: calc(50% - #{$spinnerSize/2});
    left: calc(50% - #{$spinnerSize/2});
    width: $spinnerSize;
    height: $spinnerSize;
    line-height: $spinnerSize;
    font-weight: 100;
    color: #999;
    font-size: 1.0rem;
    text-align: left;
}
.loader>span {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 20;
}

$spinnerGradientColor1: #3c78c2;
$spinnerGradientColor2: #ffffff;

.loader::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(to bottom right, $spinnerGradientColor1 0%, $spinnerGradientColor2 100%);
    z-index: 10;

    -webkit-animation: spin 1.4s infinite linear;
    -moz-animation: spin 1.4s infinite linear;
    -o-animation: spin 1.4s infinite linear;
    animation: spin 1.4s infinite linear;
}

.loader::after {
    content: "";
    display: block;
    position: absolute;
    top: 8%;
    left: 8%;
    width: 84%;
    height: 84%;
    z-index: 11;
    background: #fff;
    border-radius: 100%;
}




$display-token-size: 45px;
.display-token, .contact-token, .anon-token  {
    @include display-token($display-token-size);
    //width: 100%;

    &.anon-token {
        background-color: #fff;
        color: $darkgray-light;
        text-align: center;
        font-size: $display-token-size/1.5;
        line-height: $display-token-size;

        &.received {
            border: 2px solid $good-green;
        }
        &.sent {
            border: 2px solid $bad-red;
        }
    }
}
.contact-token, .anon-token {
    @include display-token(45px);

    text-shadow: 0 0 0px #fff, 0 -1px 1px rgba(0,0,0,0.35);

    .avatar {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
    }
}

.item-input {
    .clear-input {
        color: #b2b2b2;
        font-size: 1.5rem;
        text-align: right;
        line-height: 42px;
        height: 42px;
        padding-right: 0;
        margin: 0;
    }
}

//animated overlay screen for more info
.overlay-screen-wrapper {
    //wrapper used when overlay is included in a view
    z-index: 101;
}
.overlay-screen {
    position: absolute;
    @include transform(translate(0%, 100%));
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    z-index: 101;
    transition: opacity 0.3s linear, transform 1s cubic-bezier(.13,.87,.42,.96);
    -webkit-transition: opacity 0.3s linear, -webkit-transform 1s cubic-bezier(.13,.87,.42,.96);

    &.hide-left {
        @include transform(translate(-200%, 10%));   //we can remove this class with a $timeout to bring back to original position
        top: 0;
    }

    &.displayed {
        opacity: 1;
        @include transform(translate(0, 0%));
        transition: opacity 0.3s linear, transform 0.6s cubic-bezier(.7,1.62,.43,.76);
        -webkit-transition: opacity 0.3s linear, -webkit-transform 0.6s cubic-bezier(.7,1.62,.43,.76);
    }

    .inner-content {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $app-default-color;
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 35px;
        color: $bad-red;
    }

    .confirm-button {
        margin-top: 2rem;
        color: #fff;
        color: rgba(0,0,0,0.5);
        border-color: #fff;
        background-color: rgba(255,255,255,0.4);
    }
}

//our standard message popup screen
.message-display{
    margin-top: 2rem;
    text-align: center;

    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-top: 50%;
    background: rgba(#fff, 0.3);
    z-index: 101;

    /* initial blur when message screen displaye
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
    */
    //NB: it's important to have the -webkit- version last, as "filter" isn't yet supported and so would lose it's transition value
    transition: top 1s cubic-bezier(.13,.87,.42,.96), filter 0.2s linear;
    -webkit-transition: top 1s cubic-bezier(.13,.87,.42,.96), -webkit-filter 0.2s linear;


    &.displayed {
        top: 0;
        -webkit-filter: none;
        -moz-filter: none;
        filter: none;
        transition: top 0.8s cubic-bezier(.4,.1,.11,.98), filter 1.05s linear;
        -webkit-transition: top 0.8s cubic-bezier(.4,.1,.11,.98), -webkit-filter 1.05s linear;
    }

    .spinner svg {
        width: 60px;
        height: 60px;
    }
    .body {
        margin-bottom: 1rem;
    }
    button.dismiss {
        @include squareButton($good-green);
        width: 6rem;
        margin-top: 2rem;
    }
    .title.sentence-case {
        width: 100%;
    }
}
.platform-ios {
    .message-display {
        margin-top: -$ios-statusbar-height;
    }
}


//--- top bar ---
.bar.bar-header {
    .button-request i {
        font-size: 30px;
    }
    .button-quickscan i{
        font-size: 25px;
    }
}
//platform specifics
.platform-android {
    .bar.bar-header .back-button .ion-ios-arrow-back {
        display: none;
    }
}
.platform-ios {
    .bar.bar-header .back-button .ion-android-arrow-back {
        display: none;
    }
}


.darken-overlay {
    .bar.bar-header {
        background-color: $app-default-color;
    }
    .bar.bar-header:before,
    &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: rgba(0,0,0,0.05);
        z-index: 1;
    }
}

.canvas-display {
    max-width: 100%;
    height: auto !important;
}

$balance-display-height: 40vw;
.user-balance-display {
    background: $app-default-color;
    height: $balance-display-height;//+400px;
    padding: $bar-padding-portrait/2;
    //padding-top: $bar-padding-portrait+400px;
    //margin-top: -400px;
    box-shadow: $app-default-shadow;
    color: #fff;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: -400px;
        left: 0;
        width: 100%;
        height: 400px;
        background: $app-default-color;
    }
}

.item {
    position: relative;

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        background: transparent;
        position: relative;
        z-index: 10;
    }
}


@import "partials/action-buttons";
@import "partials/indents";
@import "partials/popover";
@import "partials/apprate";
@import "partials/send-receive";
@import "controllers/wallet/pin-entry";
@import "partials/promo-code";

@import "partials/buybtc";
@import "partials/address-lookup";
@import "partials/vertical-alignment";
@import "partials/photo-crop";

// Core module
@import "controllers/core/modals";

@import "directives/core/profile-picture";
@import "directives/core/profile-avatar";

// Setup module
@import "controllers/setup/start";
@import "controllers/setup/create-new-accout";

// Wallet module
@import "controllers/wallet/pin-entry";
@import "controllers/wallet/wallet-summary";
@import "controllers/wallet/modal-select-wallet";
@import "controllers/wallet/settings";
@import "controllers/wallet/settings-phone";

@import "directives/wallet/wallet-side-header";
@import "directives/wallet/wallet-side-subheader.scss";
@import "directives/wallet/wallet-side-nav";
@import "directives/wallet/dialog-wallet-transaction";







/*
.bar {
    border-style: solid;    //nocommit, handled by some funky ass crap by ionic that isn't visible in the browser
    border-left: none;
    border-right: none;
    //border: none !important;
    //background-image: none !important;
}
*/



//Add opacity animation states for everything...ng-animate is active on all elements so meerly adding a transition will activate this animation
&.ng-enter {
    opacity: 0;
}
&.ng-enter-active {
    opacity: 1;
}
&.ng-leave {
    opacity: 1;
}
&.ng-leave-active {
    opacity: 0;
}



.bounce.ng-enter, .bounce.ng-leave {
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
}

.bounce.ng-enter {
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
}

.bounce.ng-leave {
    animation-name: bounceOutDown;
    -webkit-animation-name: bounceOutDown;
}





.animate-slide {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    background: $app-default-color;
    z-index: 101;
    transition: top 1s cubic-bezier(.13,.87,.42,.96);
    -webkit-transition: top 1s cubic-bezier(.13,.87,.42,.96);

    &.ng-leave {

        top: 100%;
    }

    &.displayed, &.ng-enter {
        top: 0 !important;
        transition: top 0.8s cubic-bezier(.4,.1,.11,.98);
        -webkit-transition: top 0.8s cubic-bezier(.4,.1,.11,.98);
    }

    .confirm-button {
        margin-top: 2rem;
        color: #fff;
        color: rgba(0,0,0,0.5);
        border-color: #fff;
        background-color: rgba(255,255,255,0.4);
    }
}



/*--- Animations ---*/

/*you spin me right round baby right round*/
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}


/*Shake it like a polaroid picture*/
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 50%, 90% {transform: translateX(-1rem);}
    30%, 70% {transform: translateX(1rem);}
}
@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 50%, 90% {-moz-transform: translateX(-1rem);}
    30%, 70% {-moz-transform: translateX(1rem);}
}
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 50%, 90% {-webkit-transform: translateX(-1rem);}
    30%, 70% {-webkit-transform: translateX(1rem);}
}
@-ms-keyframes shake {
    0%, 100% {-ms-transform: translateX(0);}
    10%, 50%, 90% {-ms-transform: translateX(-1rem);}
    30%, 70% {-ms-transform: translateX(1rem);}
}
@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 50%, 90% {-o-transform: translateX(-1rem);}
    30%, 70% {-o-transform: translateX(1rem);}
}


/*Animation time*/
@-webkit-keyframes loading {
    0% {width: 0em; opacity:0.1}
    70% {width: 8em; opacity:1.0}
    100% {width: 10em; opacity:0.0}
}
@-moz-keyframes loading {
    0% {width: 0em; opacity:0.1}
    70% {width: 8em; opacity:1.0}
    100% {width: 10em; opacity:0.0}
}
@keyframes loading {
    0% {width: 0em; opacity:0.1}
    70% {width: 8em; opacity:1.0}
    100% {width: 10em; opacity:0.0}
}
