/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

$app-default-color: #3c78c2 !default;
$app-pin-color:     #1f4079;

// custom function to create a -light version of a color
@function lightencolor($color) {
  @return hsl(hue(adjust_hue($color, -0.8%)),
          saturation(saturate($color, 12%)),
          lightness(lighten($color, 7%))
  )
}

/*---Colours---*/
$bluejeans-dark:              #3c78c2 !default;
$bluejeans-light:             lightencolor($bluejeans-dark) !default;

$aqua-dark:                   #3BAFDA !default;
$aqua-light:                  #4FC1E9 !default;

$mint-dark:                   #37BC9B !default;
$mint-light:                  #48CFAD !default;

$grass-dark:                  #8CC152 !default;
$grass-light:                 #A0D468 !default;

$sunflower-dark:              #F6BB42 !default;
$sunflower-light:             #FFCE54 !default;

$bittersweet-dark:            #E9573F !default;
$bittersweet-light:           #FC6E51 !default;

$grapefruit-dark:             #DA4453 !default;
$grapefruit-light:            #ED5565 !default;

$lavender-dark:               #967ADC !default;
$lavender-light:              #AC92EC !default;

$pinkrose-dark:               #D770AD !default;
$pinkrose-light:              #EC87C0 !default;

$lightgray-dark:              #E6E9ED !default;
$lightgray-light:             #F5F7FA !default;

$mediumgray-dark:             #AAB2BD !default;
$mediumgray-light:            #CCD1D9 !default;

$darkgray-dark:               #434A54 !default;
$darkgray-light:              #656D78 !default;

//more colours
$bt-red:                #E0224B;
$bt-black:              #191919;
$bt-grey:               #414443;
$bt-emerald:            #35B89C;
$bt-green:              #5CBF99;
$bt-mint:               #91CC8E;
$bt-lemon:              #E7E27D;
$bt-neon:               #EBE70D;


$good-green:            $bt-green;
$dark-green:            #08A635;
$bad-red:               #d47e7e;
$app-default-shadow:    0 1px 4px rgba(0,0,0,0.15);

$energized: $app-default-color;
$positive: $app-default-color;


// Base
// -------------------------------

$font-family-sans-serif:          "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light, sans-serif !default;
$font-family-thin-sans-serif:     "HelveticaNeue-Light", "Roboto-thin", "Segoe UI-Light", sans-serif-thin, sans-serif !default;   //not used by ionic framework
$font-family-serif:               serif !default;
$font-family-monospace:           monospace !default;

$font-family-base:                $font-family-sans-serif !default;
$font-size-base:                  14px !default;
$font-size-large:                 18px !default;
$font-size-xlarge:                24px !default;
$font-size-small:                 11px !default;

$line-height-base:                1.428571429 !default; // 20/14
$line-height-computed:            floor($font-size-base * $line-height-base) !default; // ~20px
$line-height-large:               1.33 !default;
$line-height-small:               1.5 !default;

$headings-font-family:            $font-family-base !default;
$headings-font-weight:            300 !default;
$headings-line-height:            1.2 !default;

$base-background-color:           #fff !default;
$base-color:                      #000 !default;

$content-padding:                 10px !default;

$padding-base-vertical:           6px !default;
$padding-base-horizontal:         12px !default;

$padding-large-vertical:          10px !default;
$padding-large-horizontal:        16px !default;

$padding-small-vertical:          5px !default;
$padding-small-horizontal:        10px !default;

$border-radius-base:              4px !default;
$border-radius-large:             6px !default;
$border-radius-small:             3px !default;

/*---Top Bar---*/
$bar-height:                      65px;
$bar-title-font-size:             22px;
$bar-padding-portrait:            15px;
$bar-padding-landscape:           15px;
$bar-transparency:                1;

$bar-energized-bg:                  rgba($app-default-color, $bar-transparency);
$bar-energized-text:                #fff;
$bar-energized-border:              #fff;
$bar-energized-active-bg:           darken($app-default-color, 20%);
$bar-energized-active-border:       darken(#fff, 10%);



// Menus
// -------------------------------

$menu-bg:                         #ececec !default;
$menu-width:                      275px !default;
$menu-animation-speed:            200ms !default;
$menu-side-shadow:                -1px 0px 7px rgba(0, 0, 0, 0.2), 1px 0px 7px rgba(0,0,0,0.2) !default;

/*--- Main Side Menu ---*/
$sidemenu-header-bg:               #a5a5a5;
$ios-statusbar-height: 8px; // fix for ios 10+ to fight the old ios9 fix but still allow for some padding

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../fonts" !default;

// Include all of Ionic
@import "../lib/ionic/scss/ionic";

//iOS patches
@import "partials/ios-fixes";

//Add our mixins
@import "mixins";

//Add our custom version of the back-button
@import "bt-back-button";

//custom fonts
@import "bt-fonts";
@import "../../www/fontello/css/fontello-codes.scss";

//add other libs
@import "../lib/ngImgCrop/source/scss/ng-img-crop.scss";

//import our theme
@import "theme";
