<div class="modal dialog-alert">
    <div class="va">
        <div class="va-holder">
            <div class="va-content">
                <form
                    class="card card-sm"
                    name="confirmPasswordForm"
                >
                    <ion-item>
                        <input
                            class="form-control"
                            type="password"
                            placeholder="{{ 'SETUP_PASSWORD_REPEAT_PLACEHOLDER' | translate }}"
                            name="password"
                            ng-model="form.confirmPassword"
                        >
                    </ion-item>

                    <div class="row">
                        <div class="col">
                            <button class="button button-block" ng-click="cancel()">{{ 'CANCEL' | translate }}</button>
                        </div>
                        <div class="col">
                            <button class="button button-block" ng-click="confirm()">{{ 'CONFIRM' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
