<ion-view>
    <div class="pin-login-screen">
        <ion-content scroll="false">
            <div class="pin-input-section">
                <img class="logo-btccom" src="img/logo-btc-com.png">

                <h2 class="">{{ 'WALLET_PIN' | translate }}</h2>
                <div ng-if="appControl.proceeding">
                    <ion-spinner icon="dots" class="spinner-stable"></ion-spinner>
                </div>
                <div ng-if="!appControl.proceeding">
                    <label class="item-input" ng-class="{error: appControl.showPinInputError || appControl.locked }">
                        <input id="mainPinInput" type="tel" required tabindex="-1"
                               ng-model="appControl.pin" ng-disabled="appControl.proceeding"
                               ng-enter="proceed()" ng-tab="proceed()" auto-focus>
                    </label>
                    
                    <div class="pin-error">
                        <span ng-show="appControl.showPinInputError && !appControl.locked">{{ appControl.result.error | translate }}</span>
                        <span ng-show="appControl.locked">{{ 'PLEASE_WAIT_SECONDS' | translate : {seconds: appControl.lockTimer} }}</span>
                    </div>

                    <a class="button button-outline confirm-button" ng-if="!appControl.locked" ng-click="proceed()">{{ 'CONFIRM' | translate }}</a>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>
