<ion-view>
    <div class="pin-login-screen">
        <ion-content scroll="false">
            <div class="pin-input-section">
                <img class="logo-btccom" src="img/logo-btc-com.png">

                <h2 class="">{{ 'WALLET_PIN' | translate }}</h2>
                <label class="item-input" ng-class="{error: appControl.showPinInputError || appControl.locked }">
                    <input id="mainPinInput" type="tel" ng-model="appControl.pin" autofocus required ng-enter="proceed()" ng-tab="proceed()" tabindex="-1">
                </label>
                <div class="pin-error">
                    <span ng-show="appControl.showPinInputError && !appControl.locked">{{ appControl.result.error | translate }}</span>
                    <span ng-show="appControl.locked">{{ 'PLEASE_WAIT_SECONDS' | translate : {seconds: appControl.lockTimer} }}</span>
                </div>

                <a class="button button-outline confirm-button" ng-if="!appControl.locked" ng-click="proceed()">{{ 'CONFIRM' | translate }}</a>
            </div>
        </ion-content>
    </div>
</ion-view>
