<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			id="fr.spirotron.cordova.disabledatadetectors"
			version="0.1.0">

	<name>Disable Data Detectors</name>
	<description>Disables iOS data detectors that parse page content to insert special links (ex: phone numbers).</description>
	<license>MIT</license>
	<keywords>cordova,ios,datadetectors</keywords>
	<repo>https://github.com/nleclerc/cordova-plugin-disabledatadetectors.git</repo>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="DisableDataDetectors">
				<param name="ios-package" value="DisableDataDetectors"/>
				<param name="onload" value="true"/>
			</feature>
		</config-file>

		<header-file src="src/ios/DisableDataDetectors.h" />
		<source-file src="src/ios/DisableDataDetectors.m" />
	</platform>
</plugin>
